Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[chore] Fixed bandit pre-commit error
  application/skynet/commands/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[infra] Changed gunicorn to use default (`info`) log level instead of `debug`
  infra/modules/tornium-web.nix
Due: none

[infra] Added pgbackrest database backups (WAL only w/ manual full backups)
  infra/common/default.nix
  infra/hosts/primary.nix
  infra/hosts/proxy-db.nix
  infra/modules/postgresql-pgbackrest.nix
  infra/modules/postgresql-replica.nix
  infra/modules/postgresql.nix
  infra/secrets/secrets.yaml
Due: none

Fixed messages about vault requests not being fulfilled as a result of 8fa4ee3
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed `/verify` failing to resolve the roles of the member when no member is provided
  application/skynet/commands/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed `Oban` to dynamically choose between `Tornium.Repo` and `Tornium.ObanRepo`
  worker/config/config.exs
  worker/lib/repo.ex
Due: worker-format, worker-credo

Fixed ed90a2e9
  worker/deps.nix
  worker/lib/repo.ex
  worker/mix.lock
Due: worker-format, worker-credo

Changed `oban_jobs` to be unlogged to reduce WAL load from Oban jobs
  worker/priv/oban_repo/migrations/20260901192504_change_oban_jobs_unlogged.exs
Due: worker-format, worker-credo

[infra] Added pgbackrest exporter to prometheus
  infra/hosts/primary.nix
  infra/modules/postgresql-pgbackrest-exporter.nix
Due: none

[chore] Add reference to pgbackrest exporter
  infra/modules/postgresql-pgbackrest-exporter.nix
Due: none

[untested] Added timer for pgbackrest daily full backups
  infra/modules/postgresql-pgbackrest.nix
Due: none

Fixed Nostrum API response type handling in `Tornium.Workers.ServerRefresh`
  worker/lib/workers/server_refresh.ex
Due: worker-format, worker-credo

Disabled server deletion
  worker/lib/workers/server_refresh_scheduler.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/workers/server_refresh_scheduler.ex
Due: worker-format, worker-credo

Removed `tasks.guild.refresh_guilds` from celery worker
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

[infra] Replaced nix library's autogenerated pgbackrest service + timer with custom service + timer
  infra/modules/postgresql-pgbackrest.nix
Due: none

Bumped in-dev versin
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Fixed `putCache`
  userscripts/tornium-estimate/cache.js
Due: userscript-format

Added message on profile page when the user needs to re-authenticate
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/pages/profile.js
Due: userscript-format

[chore] Reformat
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/pages/profile.js
Due: userscript-format

Added configuration for maximum number of days to show data from the stat DB for
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/pages/attack-loader.js
  userscripts/tornium-estimate/pages/faction-rw.js
  userscripts/tornium-estimate/pages/people-abroad.js
  userscripts/tornium-estimate/pages/search.js
  userscripts/tornium-estimate/settings.js
Due: userscript-format

Added constant for the maximum concurrency on certain pages
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/pages/faction-rw.js
  userscripts/tornium-estimate/pages/people-abroad.js
  userscripts/tornium-estimate/pages/search.js
Due: userscript-format

Added debug logging in addition to normal logging
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/logging.js
Due: userscript-format

Optimized concurrency limiter and caching
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/pages/faction-rw.js
  userscripts/tornium-estimate/pages/people-abroad.js
  userscripts/tornium-estimate/pages/search.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

Release tornium-estimate v0.5.8
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Changed faction CPR endpoint to be accessible through OAuth
  application/controllers/api/v1/faction/crimes.py
  docs/src/reference/api/endpoints.md
Due: application-lint, application-autoformat, application-isort, application-bandit

[docs] Fixed request format for OC delays endpoint
  docs/src/reference/api/endpoints.md
Due: none

Fixed OAuth client dashboard failing to remove redirect URI
  application/static/developers/client.js
Due: application-js-format

[untested] Added revocation of group of OAuth access token if a refresh token is used more than once (RFC 9700)
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
  worker/lib/oauth/schema/token.ex
  worker/priv/repo/migrations/20260904033324_add_oauth_token_family_id.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Added toggle to enable/disable refresh token grant to the OAuth client dashboard
  application/controllers/developers/clients.py
  application/static/developers/client.js
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

[untested] changed expiration of access and refresh tokens
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
  worker/lib/oauth/schema/token.ex
  worker/priv/repo/migrations/20260904033324_add_oauth_token_family_id.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[indev] Changed shared userscript oauth code to use the refresh token
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
  userscripts/shared/oauth.js
  userscripts/tornium-estimate/Makefile
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
  userscripts/tornium-estimate/oauth.js
  userscripts/tornium-estimate/settings.js
Due: commons-lint, commons-autoformat, commons-isort, userscript-format

[untested] Added DM warning of multiple uses of their OAuth refresh token
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
  userscripts/tornium-estimate/entrypoint.js
Due: commons-lint, commons-autoformat, commons-isort, userscript-format

Added OAuth-related logging to `AuthLog`
  commons/tornium_commons/models/auth_log.py
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Bug fixes
  application/controllers/developers/clients.py
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/auth_log.py
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
  userscripts/shared/oauth.js
  userscripts/tornium-estimate/header.js
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, userscript-format

Release tornium-estimate v0.5.9
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[docs] Updated docs to describe refresh token grant and to reduce the severity of the security-related warning for the tornium-estimate userscript
  docs/src/reference/api/oauth-provider.md
  docs/src/tutorial/tornium-estimate.md
Due: none

Bug fix
  commons/tornium_commons/models/oauth_token.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed base URl in tornium-estimate
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
Due: userscript-format

Release tornium-estimate v0.5.10
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
