Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Fixed slash command parsing and invocation
  application/skynet/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed verification logic tests
  worker/lib/guild/verify/logic.ex
  worker/test/guild/verify/logic_test.exs
Due: worker-format, worker-credo

Added customizable banking request TTL
  CHANGELOG.md
  application/commands/faction/banking/withdraw.json
  application/skynet/commands/faction/withdraw.py
  application/templates/faction/banking.html
  celery/tornium_celery/tasks/faction.py
  commons/tornium_commons/models/withdrawal.py
  worker/lib/faction/schema/withdrawal.ex
  worker/priv/repo/migrations/20250729231807_add_withdrawal.exs
  worker/priv/repo/migrations/20250729232632_withdrawal_expires_at.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed withdrawal command JSON
  application/commands/faction/banking/withdraw.json
Due: none

[chore] Removed unnescessary setup instructions for faction banking
  application/templates/faction/banking_aa.html
Due: none

Fixed inverted request expiration logic
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed `/withdraw` when no timeout value is passed
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Reworked 2FA configuration
  application/app.py
  application/controllers/__init__.py
  application/controllers/authroutes.py
  application/controllers/decorators.py
  application/controllers/settings_routes.py
  application/static/settings/settings.js
  application/static/settings/totp-setup.js
  application/templates/settings/settings.html
  application/templates/settings/totp-setup.html
  application/templates/totp.html
  commons/tornium_commons/models/user.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Cleaned up settings structure
  application/templates/settings/settings.html
Due: none

[docs] Added 2fa documenation
  application/templates/settings/settings.html
  application/templates/settings/totp-setup.html
  docs/src/SUMMARY.md
  docs/src/guide/2fa.md
  docs/src/reference/2fa.md
Due: none

[Security] TOTP rewrite (#299)
  application/app.py
  application/controllers/__init__.py
  application/controllers/authroutes.py
  application/controllers/decorators.py
  application/controllers/settings_routes.py
  application/static/settings/settings.js
  application/static/settings/totp-setup.js
  application/templates/settings/settings.html
  application/templates/settings/totp-setup.html
  application/templates/totp.html
  commons/tornium_commons/models/user.py
  docs/src/SUMMARY.md
  docs/src/guide/2fa.md
  docs/src/reference/2fa.md
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

[chore] Added missing description to the bot OC page
  application/templates/bot/oc.html
Due: none

Fixed extra-range configuration client-side API routing
  application/static/bot/oc.js
Due: application-js-format

Added role assign support to delayed and extra-range OC notifications
  application/templates/bot/oc.html
  worker/lib/discord/discord.ex
  worker/lib/faction/oc/render.ex
  worker/lib/guild/schema/server_oc_config.ex
  worker/lib/guild/verify/message.ex
  worker/lib/user/discord_store.ex
  worker/lib/utils/misc.ex
  worker/test/discord/utils_test.exs
Due: worker-format, worker-credo

[indev] Added notification code
  notifications/faction-self-hosp/README.md
  notifications/faction-self-hosp/code.lua
  notifications/faction-self-hosp/config.toml
  notifications/faction-self-hosp/message.liquid
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed `:GUILD_CREATE` event handling and logging
  worker/config/runtime.exs
  worker/lib/discord/event_consumer.ex
  worker/lib/guild/guild.ex
  worker/lib/guild/schema/server.ex
  worker/lib/telemetry/telemetry.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/discord/event_consumer.ex
  worker/lib/telemetry/telemetry.ex
Due: worker-format, worker-credo

[chore] Removed OCs 1.0 support
  application/controllers/api/v1/bot/crimes.py
  application/controllers/api/v1/faction/crime_team.py
  application/controllers/api/v1/faction/crimes.py
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/faction.py
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/organized_crime.py
  commons/tornium_commons/models/organized_crime_new.py
  commons/tornium_commons/models/organized_crime_slot.py
  commons/tornium_commons/models/organized_crime_team.py
  worker/lib/faction/schema/organized_crime.ex
  worker/priv/repo/migrations/20250802193017_rename_oc_new.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[chore] Updated changelog
  CHANGELOG.md
Due: none

Fixed `OrganizedCrime.to_dict`
  commons/tornium_commons/models/organized_crime.py
Due: commons-lint, commons-autoformat, commons-isort

Added suggested notification type to official notification descriptions
  notifications/faction-hospital/config.toml
  notifications/faction-traveling/config.toml
Due: none

Fixed CPR stored for filled OC slots (#304)
  worker/lib/workers/oc_cpr_update.ex
Due: worker-format, worker-credo

Handle OC team assigning when there are no OCs stored
  worker/lib/faction/oc_team/team.ex
Due: worker-format, worker-credo

[Chore] Reformat
  worker/lib/faction/oc_team/team.ex
Due: worker-format, worker-credo

[untested] Fixed out-of-stock armory notifications
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed a08eafce
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Bug fix
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

bug fix
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added API endpoint for OC delays
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  commons/tornium_commons/models/organized_crime_slot.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Bug fix
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed armory toggle for unlinked factions
  application/controllers/api/v1/bot/armory.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed member limit on faction hospital members notification trigger
  notifications/faction-hospital/message.liquid
Due: none

[legal] Added statements to the ToS disallowing automated non-API access to Tornium and disallowing access to other users' accounts
  application/templates/terms.html
Due: none

[indev] Added start of retal userscript
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/Makefile
  userscripts/tornium-retaliations/api.js
  userscripts/tornium-retaliations/constants.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/header.js
  userscripts/tornium-retaliations/logging.js
  userscripts/tornium-retaliations/oauth.js
  userscripts/tornium-retaliations/settings.js
Due: userscript-format

Removed userscript formatter for now
  .lefthook.yaml
Due: none

Test upgrading nostrum to HEAD to fix ratelimiter issues
  worker/config/runtime.exs
  worker/lib/application.ex
  worker/lib/discord/event_consumer.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Test fix for mobile styling cutting off at bottom of viewport due to address bar
  application/static/styles/base/base.css
  application/static/styles/base/base.scss
  application/static/styles/layout/nav.css
  application/static/styles/layout/nav.scss
  application/static/styles/styles.css
  application/templates/base.html
Due: application-sass

Fixed missing HTTP status codes on banking fulfill link errors
  application/controllers/faction/banking.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed invalid API error code for faction chain bonus length
  application/controllers/api/v1/bot/attacks.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed faction hospital notifications not rendering
  notifications/faction-hospital/message.liquid
Due: none
