Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

[infra] Added `flower` to the `tornium-celery` module
  celery/package.nix
  infra/modules/tornium-celery-exporter.nix
Due: none

Fixed `overdosed_at` timestamp at database insertion of `OverdoseEvent`
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Fixed dynamic pattern match warning in `Tornium.API.Store`
  worker/lib/utils/api_store.ex
Due: worker-format, worker-credo

[deps] Removed the now unnescessary certifi override
  worker/mix.exs
Due: worker-format, worker-credo

[deps] Updated Elixir dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

Fixed Authlib deprecations in OAuth client
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

[untested] Temporarily patched upstream bugs in Nostrum and Oban causing a Notification worker to get stuck when the gun stream "cannot be found"
  worker/lib/notification/notification.ex
Due: worker-format, worker-credo

Removed deprecated banking endpoint
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/banking.py
  docs/src/reference/api/endpoints.md
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Removed unused dependencies
  application/controllers/api/v1/faction/banking.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[docs] Added docs for cancelling and listing vault requests
  docs/src/reference/api/endpoints.md
Due: none

Fixed 0f357a66
  application/controllers/api/v1/faction/banking.py
  application/skynet/commands/faction/cancel.py
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Changed nostrum gun error handlign
  worker/deps.nix
  worker/lib/notification/notification.ex
  worker/lib/workers/notification.ex
  worker/mix.lock
Due: worker-format, worker-credo

Added Oban exception logging
  worker/lib/telemetry/telemetry.ex
Due: worker-format, worker-credo

Added clearing of TomSelect elements' text inputs after an item has been selected
  application/static/faction/armory.js
  application/static/global/utils.js
Due: application-js-format

[infra] Increased celery worker concurrency
  infra/modules/tornium-celery.nix
Due: none

Fixed `/cancel` slash command being unableto perform the cancellation of the request
  application/skynet/commands/faction/cancel.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed renedered request type upon completion of `/withdraw` slash command
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed false-positive flagging by bandit
  application/controllers/oauth.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[deps] Revert requests version bump as not supported by nix yet
  celery/pyproject.toml
Due: none

Fixed Celery `.forget()` usage in `Withdrawal` class
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

[infra] Fixed `tornium-celery-exporter.service` not starting after `tornium-celery.service` restarts
  infra/modules/tornium-celery-exporter.nix
Due: none

[infra] Added missing proxy headers to `tornium-web` nginx configuration
  infra/modules/tornium-web.nix
Due: none

Fixed estimation function to work with `xgboost.DMatrix` instead of a `DataFrame`
  application/estimate/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed removing faction guild ID
  application/controllers/faction/bot.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed the `Withdrawal` table to use a sequence for auto-incrementing with a transaction instead of manually incrementing
  application/controllers/api/v1/faction/banking.py
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/withdrawal.py
  worker/priv/repo/migrations/20260330154113_change_wid_serial.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[deps] Updated oban, bandit, and torgnen_elixir_client
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
  worker/priv/oban_repo/migrations/20260330162606_upgrade_oban_jobs_to_v14.exs
Due: worker-format, worker-credo

[deps] Updated Tornex to v0.5.0
  worker/deps.nix
  worker/lib/application.ex
  worker/lib/faction/overdose.ex
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/lib/workers/oc_cpr_update_scheduler.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed API cache busting of attack data in `fetch_attacks_runner`
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Updated `Tornium.API.Store` to unsuspend Oban jobs that need an API response
  worker/lib/utils/api_store.ex
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/lib/workers/oc_cpr_update_scheduler.ex
  worker/lib/workers/overdose_update_scheduler.ex
Due: worker-format, worker-credo

[indev] Added Oban plugin to prune suspended jobs
  worker/lib/oban_suspended_pruner.ex
Due: worker-format, worker-credo

[chore] Reformta
  worker/lib/utils/api_store.ex
Due: worker-format, worker-credo

[docs] Updated Discord bot invite link
  application/templates/bot/index.html
  docs/src/tutorial/discord-server-installation.md
Due: none

[deps] updated deps_nix, oban_web, and infra flake
  infra/flake.lock
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[infra] Changed `tornium-web` to use the `gthread` gunicorn worker instead of `sync`
  application/Makefile
  infra/modules/tornium-web.nix
Due: none

[indev]
  application/commands/faction/data/faction.json
  application/skynet/__init__.py
  application/skynet/autocomplete/__init__.py
  application/skynet/autocomplete/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed autocomplete code
  application/skynet/autocomplete/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[infra] Added `tornium-web` command
  infra/modules/tornium-web.nix
Due: none

Added autocomplete to `/faction * *` slash commands (#410)
  application/commands/faction/data/faction.json
  application/skynet/__init__.py
  application/skynet/autocomplete/__init__.py
  application/skynet/autocomplete/faction.py
  infra/modules/tornium-web.nix
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Removed unused code
  celery/tornium_celery/tasks/api.py
Due: celery-lint, celery-autoformat, celery-isort

[chore] Changed default dev server from gunicorn to flask
  application/Makefile
Due: none
