Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[chore] Reformat
  application/controllers/api/v1/gateway/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[docs] Added gateway token creation and revocation
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/oauth-provider.md
Due: none

Added scaffolding for the RW tracker endpoint
  application/controllers/faction/__init__.py
  application/controllers/faction/ranked_war.py
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
  application/templates/faction/ranked_war_tracker.html
Due: application-lint, application-autoformat, application-isort, application-bandit

[docs] Updated TPDA support for the tornium-estimate userscript
  docs/src/tutorial/tornium-estimate.md
Due: none

Increased default pool size for DB connections
  worker/config/runtime.exs
Due: worker-format, worker-credo

Enabled PromEx monitoring of Oban and Ecto
  worker/lib/prom_ex.ex
Due: worker-format, worker-credo

[deps] Updated Elixir dependencies
  worker/mix.lock
Due: none

[untested] Fix performance issues deleting OC slots faction members have left
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Fixed bug in 48dfabb8
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Added a source for unnested OC slot deletion
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Added `Tornium.EctoStacktraces` to find slow queries
  worker/lib/utils/ecto_stack_traces.ex
Due: worker-format, worker-credo

[chore] refactor
  worker/lib/utils/ecto_stack_traces.ex
Due: worker-format, worker-credo

[chore] Removed unnescessary uniqueness from certain oban workers
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/oauth_revocation.ex
  worker/lib/workers/oc_cpr_update.ex
  worker/lib/workers/oc_migration_check.ex
  worker/lib/workers/overdose_daily_report.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

[chore] Decreased oban pruner max age from one day to six hours
  worker/config/config.exs
Due: worker-format, worker-credo

[chore] Added separate Oban database connection pool
  worker/config/config.exs
  worker/config/dev.exs
  worker/config/runtime.exs
  worker/lib/application.ex
  worker/lib/oban_repo.ex
Due: worker-format, worker-credo

[untested] Fixed performance issues related to upserting OC CPR data
  worker/lib/faction/schema/organized_crime_cpr.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/faction/schema/organized_crime_cpr.ex
Due: worker-format, worker-credo

Added sort to OC CPR upsert to prevent deadlocks
  worker/lib/faction/schema/organized_crime_cpr.ex
Due: worker-format, worker-credo

Fixed issues with Discord ratelimiting
  celery/tornium_celery/tasks/api.py
  commons/tornium_commons/dbucket.py
  commons/tornium_commons/errors/__init__.py
  commons/tornium_commons/rds_lua/bhash-call.lua
  commons/tornium_commons/rds_lua/bhash.lua
  commons/tornium_commons/rds_lua_hashes.py
Due: celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Test fix
  commons/tornium_commons/dbucket.py
  commons/tornium_commons/rds_lua/bhash-call.lua
  commons/tornium_commons/rds_lua_hashes.py
Due: commons-lint, commons-autoformat, commons-isort

Test fix
  commons/tornium_commons/dbucket.py
Due: commons-lint, commons-autoformat, commons-isort

Test fix
  commons/tornium_commons/rds_lua/bhash-call.lua
  commons/tornium_commons/rds_lua_hashes.py
Due: commons-lint, commons-autoformat, commons-isort

Disabled Discord ratelimiting
  celery/tornium_celery/tasks/api.py
Due: celery-lint, celery-autoformat, celery-isort

Decreased max retries of Discord API tasks
  celery/tornium_celery/tasks/api.py
Due: celery-lint, celery-autoformat, celery-isort

Removed Discord ratelimiting and Redis script loading
  application/app.py
  application/controllers/cli/__init__.py
  celery/tornium_celery/tasks/api.py
  commons/MANIFEST.in
  commons/rds_lua_hasher.py
  commons/tornium_commons/__init__.py
  commons/tornium_commons/dbucket.py
  commons/tornium_commons/errors/__init__.py
  commons/tornium_commons/rds_lua/bhash-call.lua
  commons/tornium_commons/rds_lua_hashes.py
  commons/tornium_commons/redisconnection.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

temp
  celery/tornium_celery/tasks/api.py
Due: celery-lint, celery-autoformat, celery-isort

Changed Discord API calls to be performed through a nostrum proxy in the Elixir worker
  celery/tornium_celery/tasks/api.py
  worker/config/config.exs
  worker/lib/web/discord_controller.ex
  worker/lib/web/router.ex
Due: celery-lint, celery-autoformat, celery-isort, worker-format, worker-credo

Fixed handling of 204 responses
  worker/lib/web/discord_controller.ex
Due: worker-format, worker-credo

Fixed response for 204 in nostrum proxy
  worker/lib/web/discord_controller.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/web/discord_controller.ex
Due: worker-format, worker-credo

Fixed handling of query params in Discord proxy
  worker/config/config.exs
  worker/config/prod.exs
  worker/lib/web/discord_controller.ex
Due: worker-format, worker-credo

Fixed server-side audit logging of Discord errors in notifications and added additional logging for 50035 Discord errors
  worker/lib/notification/audit.ex
  worker/lib/notification/notification.ex
Due: worker-format, worker-credo

Added link to settings to `/faction members revivable-ping`
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Disable chain bonus alert selector
  application/templates/bot/guild.html
Due: none

Fixed fetching OD drug from user logs
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Fixed exunit from Oban Ecto Repo changes
  worker/config/test.exs
  worker/test/test_helper.exs
Due: worker-format, worker-credo

Fixed duplicate roles in on-join verification
  worker/lib/guild/verify/logic.ex
Due: worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
