Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Added OD notification configuration to bot dashboard
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/__init__.py
  application/controllers/api/v1/bot/config.py
  application/controllers/api/v1/bot/overdose.py
  application/static/bot/guild.js
  application/templates/bot/guild.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/server_overdose_config.py
  worker/lib/guild/schema/server_overdose_config.ex
  worker/priv/repo/migrations/20250912205910_add_server_od_config.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[chore] Removed unused imports
  commons/tornium_commons/models/user.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed `User.can_manage_crimes` for faction leads/coleads
  commons/tornium_commons/models/user.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed styling of OAuth client revoke button
  application/templates/settings/settings.html
Due: none

Fixed authentication ratelimiting expiration in error
  application/controllers/authroutes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[untested] Added OD persistence
  worker/lib/faction/overdose.ex
  worker/lib/faction/schema/overdose_count.ex
  worker/lib/faction/schema/overdose_event.ex
  worker/lib/guild/schema/server_overdose_config.ex
  worker/lib/utils/api_store.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20250912205005_remove_od_channel_data.exs
  worker/priv/repo/migrations/20250912205910_add_server_od_config.exs
  worker/priv/repo/migrations/20250915175136_add_od_count_events.exs
Due: worker-format, worker-credo

Added docs and minimal test coverage
  worker/lib/faction/overdose.ex
  worker/test/faction/overdose_test.exs
Due: worker-format, worker-credo

Added embed generation
  worker/lib/discord/discord.ex
  worker/lib/faction/overdose.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Added overdose policy
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/overdose.py
  application/static/bot/guild.js
  application/templates/bot/guild.html
  commons/tornium_commons/models/overdose_count.py
  commons/tornium_commons/models/overdose_event.py
  commons/tornium_commons/models/server_overdose_config.py
  worker/lib/faction/schema/overdose_event.ex
  worker/lib/guild/schema/server_overdose_config.ex
  worker/priv/repo/migrations/20250912205005_remove_od_channel_data.exs
  worker/priv/repo/migrations/20250915175136_add_od_count_events.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Mark overdose events as notified when the OD config policy is `:immediate`
  worker/lib/faction/schema/overdose_event.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

[untested] Added daily OD reports
  worker/lib/faction/overdose.ex
  worker/lib/workers/overdose_daily_report.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Added cron jobs for OD workers
  worker/config/config.exs
Due: worker-format, worker-credo

Bug fixes
  worker/lib/discord/discord.ex
  worker/lib/faction/overdose.ex
  worker/lib/faction/schema/overdose_count.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[untested] Added slash command
  application/commands/faction/data/faction.json
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/commands/faction/data/faction.json
Due: none

Test interval formatting fix
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Test formatting
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Add `/faction crimes missing-members` slash command (#321)
  application/commands/faction/data/faction.json
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed 1eab82eb for members who have not been in an OC
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed `tasks.guild.refresh_guilds` failing to delete removed guilds (#288)
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

[chore] Refactor
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

Test fix for `/verify` when the invoking user isn't signed into Tornium
  application/skynet/skyutils.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[untested] fixed high latencies on SQL query for OC missing members
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added new chain list generator
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/stat/__init__.py
  application/static/faction/crime-cpr.js
  application/static/global/api.js
  application/static/stats/list.js
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/vendor/tomselect.css
  application/static/styles/vendor/tomselect.css.map
  application/static/styles/vendor/tomselect.scss
  application/templates/stats/chain.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass

Fixed bug in minimum difficulty
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Disallow minimum and maximum difficulties being equal
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Test fix for factionless filter
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Test fi
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated mobile styling to use cards
  application/static/stats/list.js
  application/static/styles/base/base.css
  application/static/styles/base/base.css.map
  application/static/styles/base/table.css
  application/static/styles/base/table.css.map
  application/static/styles/base/table.scss
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/templates/stats/chain.html
Due: application-js-format, application-sass

Updated error message when casting parameters
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed respect calculations
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Chain list generator rewrite (#322)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/stat/__init__.py
  application/static/faction/crime-cpr.js
  application/static/global/api.js
  application/static/stats/list.js
  application/static/styles/base/base.css
  application/static/styles/base/base.css.map
  application/static/styles/base/table.css
  application/static/styles/base/table.css.map
  application/static/styles/base/table.scss
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/vendor/tomselect.css
  application/static/styles/vendor/tomselect.css.map
  application/static/styles/vendor/tomselect.scss
  application/templates/stats/chain.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass
