Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Fixed module reference in docs for `update_data/1`
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Changed `FactionUpdateScheduler` to update factions with AA keys that haven't been updated yet
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Changed chunk size of `FactionUpdateScheduler` from 25 to 50
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

[deps] Updated elixir dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

Enabled `UserUpdateScheduler` cron
  worker/config/config.exs
Due: worker-format, worker-credo

Added user update workers
  worker/lib/workers/user_update.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Fixed `update_query/3` not updating the `:battlescore_update` field
  worker/lib/user/schema/user.ex
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Improved fetching of cached users when the user is not being updated
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Fixed niceness parameter when creating a `Tornex.SpecQuery` in `update_query/3`
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Improved user updates (#435)
  worker/config/config.exs
  worker/lib/guild/verify/verify.ex
  worker/lib/user/key.ex
  worker/lib/user/key_store.ex
  worker/lib/user/schema/user.ex
  worker/lib/user/update.ex
  worker/lib/user/user.ex
  worker/lib/workers/user_update.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

[deps] Updated torngen_elixir_client
  worker/deps.nix
  worker/mix.lock
Due: none

Fixed usage of generated Torngen client for renamed news-related structs in API v5.9.0
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/news/news.ex
  worker/lib/workers/armory_news_update.ex
  worker/test/faction/armory_action_news_test.exs
Due: worker-format, worker-credo

[chore] Refactored unused variable
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Fixed scheduling of user updates in `UserUpdateScheduler`
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

[deps] Removed unused dev dependencies of dialyxir and mix_test_interactive
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed creation of OAuth clients using `authorization-code-grant-pkce`
  application/controllers/developers/clients.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed showing privacy policy of OAuth clients
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
Due: commons-lint, commons-autoformat, commons-isort

Added initial support for clustering
  worker/config/dev.exs
  worker/config/prod.exs
  worker/lib/application.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[notification] Fixed `faction-traveling` including members who had left the faction
  notifications/faction-traveling/code.lua
  notifications/faction-traveling/test.exs
Due: none

[chore] Updated notifications README with instructions on using notification_inator to run notification test cases
  notifications/README.md
Due: none

Fixed deprecated `:position_number` field usage
  worker/lib/faction/oc/oc.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/faction/oc/oc.ex
Due: worker-format, worker-credo

Added the deletion of non-existent users from the database upon the invocation of `UserUpdate`
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Fixed missing final condition in `UserUpdate`
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Fixed 442e420f
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Fixed `nonpublic?` flag not being set on `FactionUpdate` when it is rescheduled after API error code 7
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Fixed OC slot indexing
  worker/lib/faction/oc/oc.ex
Due: worker-format, worker-credo

Added info on test channel message regarding the "Embed Links" permission
  application/controllers/api/v1/bot/utils.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed user and faction update schedulers not prioritizing users/factions that have never been updated
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

[chore] Reformta
  worker/lib/faction/chain_monitor/chain_monitor.ex
Due: worker-format, worker-credo

Fixed user update scheduling
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Added stat and personal stat table to Elixir worker and added on_delete clause for schemas using user foreign key
  worker/lib/stat/schema/stat.ex
  worker/lib/user/schema/personal_stats.ex
  worker/priv/repo/migrations/20260602162039_add_user_on_delete.exs
Due: worker-format, worker-credo

Added overdose viewer and fixed `OverdoseEvent` schema
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/overdose.py
  application/controllers/faction/__init__.py
  application/controllers/faction/overdose.py
  application/static/faction/overdose.js
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
  application/templates/faction/overdose.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/overdose_event.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Fixed member selector on overdose table
  application/controllers/faction/overdose.py
  application/templates/faction/overdose.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed `Tornium.API.Store` to use a sharded set of GenServers through Horde
  worker/lib/api/error.ex
  worker/lib/api/store.ex
  worker/lib/api/supervisor.ex
  worker/lib/application.ex
  worker/lib/utils/api_store.ex
  worker/lib/workers/user_update.ex
  worker/mix.lock
Due: worker-format, worker-credo

Added clustered start commands to Makefile
  worker/Makefile
Due: none

Fixed the API supervisor not gracefully handling shards of Tornium.API.Store that already exist
  worker/lib/api/supervisor.ex
Due: worker-format, worker-credo

Changed `@max_chunk` in `UserUpdateScheduler` and `FactionUpdateScheduler` to use a lower size in the `:dev` environment
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Changed faction overdose CSV export to show user_name and removed id
  application/controllers/api/v1/faction/overdose.py
Due: application-lint, application-autoformat, application-isort, application-bandit
