Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[chore] Reformat
  application/controllers/api/v1/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[untested] Fixed failed usage of cached stocks data
  application/controllers/api/v1/stocks/data.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[deps] Bumped worker dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

[indev] Updated the table to load properly
  application/controllers/api/v1/bot/verify.py
  application/static/bot/verify-logs.js
  application/templates/bot/verify-logs.html
  commons/tornium_commons/models/verification_log.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Added actual data to verification stats
  application/controllers/bot/verify.py
  application/templates/bot/verify.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Added `getData()` to `<table-viewer>` to access data on the current page of the table
  application/static/components/table-viewer.js
Due: application-js-format

Added data to the details pane on the log viewer
  application/static/bot/verify-logs.js
  application/templates/bot/verify-logs.html
Due: application-js-format

[deps] Bumped plug to use a version that isn't pulled
  worker/mix.lock
Due: none

Fixed missing `remove_button` plugin in initialization of TomSelect on OC bot dashboard
  application/static/bot/oc.js
Due: application-js-format

Fixed Tornium failing to insert new verification jobs and failing to stagger verification jobs
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

Fixed successful verification telemetry being inverted
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

[untested] Changed `/verifyall` to use Elixir worker
  application/skynet/commands/bot/verifyall.py
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/oban_job.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Removed `force` and ratelimiting from `/verifyall`
  application/commands/bot/verify/verifyall.json
  application/skynet/commands/bot/verifyall.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Removed unused imports
  application/skynet/commands/bot/verifyall.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed incorrect `oban_jobs` table name in peewee model
  commons/tornium_commons/models/oban_job.py
Due: commons-lint, commons-autoformat, commons-isort

[docs] Removed `force` parameter from `/verifyall` docs
  docs/src/reference/bot-verification.md
Due: none

Increased period between verification tasks
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

Fixed roles added/removed in the telemetry
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed error type `:config` in verification telemetry
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed telemetry issues
  worker/lib/telemetry/telemetry.ex
Due: worker-format, worker-credo

Fixed verification log telemetry tests
  worker/test/telemetry/verification_logs_test.exs
Due: worker-format, worker-credo

Fixed force verification parameter in `Tornium.Workers.GuildMemberVerification`
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

Fixed `/verifyall` command description
  application/commands/bot/verify/verifyall.json
Due: none

Fixed failure key in `VerificationLog` JSON dump
  commons/tornium_commons/models/verification_log.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed missing `#details-error-message`
  application/templates/bot/verify-logs.html
Due: none

Fixed swapped `#details-roles-added` and `#details-roles-removed`
  application/templates/bot/verify-logs.html
Due: none

Fixed mispelled 'detils"
  application/controllers/api/v1/bot/verify.py
  application/controllers/api/v1/faction/armory.py
  application/controllers/api/v1/faction/overdose.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed bad return value in error passthrough of `Tornium.Guild.Verify.verify/3`
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed DB query in `/verifyall` when performing basic validation upon verification configuration
  application/skynet/commands/bot/verifyall.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed verification stats when no attempts have been performed
  application/controllers/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fxied `Tornium.Telemetry.VerificationLogs.create_table/1` when the GenServer has restarted but the ETS table still exists
  worker/lib/telemetry/verification_logs.ex
Due: worker-format, worker-credo

Fixed verification log insertion test
  worker/test/guild/verify/log_test.exs
Due: worker-format, worker-credo

Fixed verification logic tests
  worker/test/guild/verify/logic_test.exs
Due: worker-format, worker-credo

[deps] Bumped `deps.nix`
  worker/deps.nix
Due: none

Fixed DB query to create verification job in `/verifyall`
  application/skynet/commands/bot/verifyall.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed OC teams
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/crimes.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/crime_team.py
  application/controllers/api/v1/utils.py
  application/controllers/faction/__init__.py
  application/controllers/faction/crimes.py
  application/static/faction/crimes.js
  application/templates/bot/oc.html
  application/templates/faction/crimes.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/organized_crime.py
  commons/tornium_commons/models/organized_crime_team.py
  commons/tornium_commons/models/organized_crime_team_member.py
  commons/tornium_commons/models/server_oc_config.py
  worker/lib/faction/oc_team/check/check.ex
  worker/lib/faction/oc_team/check/struct.ex
  worker/lib/faction/oc_team/render.ex
  worker/lib/faction/oc_team/team.ex
  worker/lib/faction/schema/organized_crime.ex
  worker/lib/faction/schema/organized_crime_team.ex
  worker/lib/faction/schema/organized_crime_team_member.ex
  worker/lib/guild/schema/server_oc_config.ex
  worker/lib/telemetry/telemetry.ex
  worker/lib/workers/oc_team_update.ex
  worker/lib/workers/oc_update.ex
  worker/test/faction/oc_team/check_struct_test.exs
  worker/test/faction/oc_team/check_test.exs
  worker/test/faction/oc_team_member_test.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed insertion of `VerificationLog` with an `:error_type`
  worker/lib/guild/schema/verification_log.ex
Due: worker-format, worker-credo

Added ecto migration to delete OC team related fields and tables
  worker/priv/repo/migrations/20260702182158_remove_oc_team.exs
Due: worker-format, worker-credo

Fixed styling of `/terms` and `/privacy` when not using dark mode
  application/templates/privacy.html
  application/templates/terms.html
Due: none

Fixed `FactionUpdate` and `UserUpdate` failing to stop using disabled and/or paused API keys
  worker/lib/workers/faction_update.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
