Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[indev] Added new UI for creating a new OAuth client
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/templates/developers/new-client.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Refactored client creation
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/static/developers/new-client.js
  application/static/global/api.js
  application/templates/developers/new-client.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Required PKCE for public OAuth clients
  application/app.py
  commons/tornium_commons/oauth.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Bug fix
  application/static/developers/client.js
  application/static/global/api.js
  application/templates/developers/client_dashboard.html
Due: application-js-format

[security] Changed OAuth clients to store hashed client secrets
  application/controllers/api/v1/utils.py
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/static/developers/client.js
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

[chore] Refactor
  application/controllers/developers/clients.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed device grant (temporarily)
  application/templates/developers/new-client.html
Due: none

Added developer sidebar and index page
  application/controllers/developers/__init__.py
  application/templates/base.html
  application/templates/developers/index.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Added OAuth client/token soft deletion
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/controllers/settings_routes.py
  application/static/developers/client.js
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
  commons/tornium_commons/oauth.py
  worker/lib/oauth/schema/client.ex
  worker/priv/repo/migrations/20251015224841_update_oauth_client.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed secret regeneration on clients with "none" auth method
  application/static/developers/client.js
Due: application-js-format

Added scopes to the client UI
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
Due: commons-lint, commons-autoformat, commons-isort

Refactored redirect URI list
  application/static/developers/client.js
  application/templates/developers/client_dashboard.html
Due: application-js-format

Added client URI, ToS, and privacy policy URIs to oauth client UI
  application/templates/developers/client_dashboard.html
Due: none

[indev] Started docs
  docs/src/SUMMARY.md
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/errors.md
  docs/src/reference/api/oauth-provider.md
Due: none

[legal] Updated Terms of Service for upcoming API
  application/templates/terms.html
Due: none

Updated last updated date for bb8795a1
  application/templates/terms.html
Due: none

Added DB updates from OAuth client UI
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/static/developers/client.js
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

[untested] Fixed OC delayed reasons being overwritten
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Added initial installation of NixOS onto a server
  .editorconfig
  infra/README.md
  infra/configuration.nix
  infra/disk-config.nix
  infra/flake.lock
  infra/flake.nix
Due: none

[untested] Added migration of Python verification code from Jinja to Liquid templates for verified name templates
  celery/pyproject.toml
  celery/tests/guild/test_verify.py
  celery/tornium_celery/tasks/guild.py
  commons/tornium_commons/timeout.py
Due: celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Removed th timeout from 165489a7
  celery/tornium_celery/tasks/guild.py
  commons/tornium_commons/timeout.py
Due: celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Added an environment limiting resource usage for verification name template rendering
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

Updated Elixir worker to use Liquid rendering of verification name templates
  worker/config/test.exs
  worker/lib/guild/verify/logic.ex
Due: worker-format, worker-credo

[docs] Updated reference for verification name templates
  docs/src/reference/bot-verification.md
Due: none

Fixed non-existent personal stats during `tasks.user.update_user`
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Added nginx proxy, nginx status endpoint, and prometheus exporter
  infra/README.md
  infra/common/default.nix
  infra/common/users/default.nix
  infra/configuration.nix
  infra/flake.lock
  infra/flake.nix
  infra/hive.nix
  infra/hosts/common.nix
  infra/hosts/proxy-db.nix
  infra/modules/nginx-prometheus-exporter.nix
  infra/modules/nginx-proxy.nix
  infra/modules/nginx-status.nix
  infra/modules/prometheus.nix
Due: none

Added fail2ban for SSHD
  infra/common/default.nix
  infra/hosts/common.nix
  infra/modules/fail2ban-ssh.nix
  infra/modules/nginx-prometheus-exporter.nix
Due: none

Fixed prometheus firewall and nginx scrape interval
  infra/modules/prometheus.nix
Due: none

Fixed retal embed generation when attacker faction is not in database
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed TomSelect hiding channels and roles in selectors when there are more than 50 items
  application/static/bot/armory.js
  application/static/bot/guild.js
  application/static/bot/notification.js
  application/static/bot/oc.js
  application/static/bot/update-notification.js
  application/static/bot/verify.js
Due: application-js-format

[indev] Added more API docs
  docs/src/SUMMARY.md
  docs/src/guide/api.md
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/oauth-provider.md
Due: none

[docs] Fixed RFC links
  docs/src/reference/api/oauth-provider.md
Due: none

[docs] Added more API endpoints
  docs/src/reference/api/endpoints.md
Due: none

[docs] Finished API endpoint documenttion
  application/controllers/api/v1/bot/attacks.py
  application/controllers/api/v1/faction/crimes.py
  docs/src/reference/api/endpoints.md
Due: application-lint, application-autoformat, application-isort, application-bandit

[docs] Added docs for API errors
  docs/src/SUMMARY.md
  docs/src/reference/api/endpoints.md
Due: none

Added list of API errors
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/errors.md
Due: none

Minor fixes
  application/controllers/oauth.py
  application/templates/developers/client_dashboard.html
  commons/tornium_commons/models/oauth_client.py
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/oauth-provider.md
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Added OAuth2 developer tooling
  application/app.py
  application/controllers/api/v1/bot/attacks.py
  application/controllers/api/v1/faction/crimes.py
  application/controllers/api/v1/utils.py
  application/controllers/developers/__init__.py
  application/controllers/developers/clients.py
  application/controllers/oauth.py
  application/controllers/settings_routes.py
  application/static/developers/client.js
  application/static/developers/new-client.js
  application/static/global/api.js
  application/templates/base.html
  application/templates/developers/client_dashboard.html
  application/templates/developers/clients.html
  application/templates/developers/index.html
  application/templates/developers/new-client.html
  commons/tornium_commons/models/oauth_client.py
  commons/tornium_commons/oauth.py
  docs/src/SUMMARY.md
  docs/src/guide/api.md
  docs/src/reference/api/endpoints.md
  docs/src/reference/api/oauth-provider.md
  worker/lib/oauth/schema/client.ex
  worker/priv/repo/migrations/20251015224841_update_oauth_client.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Bug fix
  application/controllers/developers/clients.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added missing docs links
  application/templates/developers/clients.html
  application/templates/developers/new-client.html
Due: none

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
