Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

Removed extraneous `IO.inspect/1` calls
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Added missing handling of members who have never been in an OC
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Added missing OC member notifications (#343)
  application/app.py
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/crimes.py
  application/static/bot/oc.js
  application/static/global/api.js
  application/templates/bot/oc.html
  commons/tornium_commons/formatters.py
  commons/tornium_commons/models/server_oc_config.py
  worker/config/config.exs
  worker/lib/faction/schema/organized_crime_slot.ex
  worker/lib/guild/schema/server_oc_config.ex
  worker/lib/postgrex_types.ex
  worker/lib/workers/oc_missing_member_notifications.ex
  worker/priv/repo/migrations/20251112024552_add_missing_member_oc.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Added migration to new overdose worker
  worker/priv/repo/migrations/20251114060825_migrate_overdose_config.exs
Due: worker-format, worker-credo

Buf fix in 41d37bf migrtion
  worker/priv/repo/migrations/20251114060825_migrate_overdose_config.exs
Due: worker-format, worker-credo

Removed old overdose Celery task
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added support for the utilities armory to armory stock notifications
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed label for maximum CPR for per-OC extra-range notifications
  application/templates/bot/oc.html
Due: none

Fixed armory usage item nullability in migration
  worker/priv/repo/migrations/20251104195426_add_armory_usage.exs
Due: worker-format, worker-credo

Removed unnescessary message collector for `Tornium.Workers.OCUpdate`
  worker/lib/workers/oc_update.ex
Due: worker-format, worker-credo

Added armory usage peewee model
  commons/tornium_commons/models/armory_usage.py
Due: commons-lint, commons-autoformat, commons-isort

[chore] reformat
  commons/tornium_commons/models/armory_usage.py
Due: commons-lint, commons-autoformat, commons-isort

[chore] Fixed various dialyzer issues
  worker/lib/discord/discord.ex
  worker/lib/faction/oc/check/check.ex
  worker/lib/faction/oc_team/team.ex
  worker/lib/faction/schema/organized_crime_slot.ex
  worker/lib/guild/guild.ex
  worker/lib/guild/verify/config.ex
  worker/lib/guild/verify/logic.ex
  worker/lib/guild/verify/message.ex
  worker/lib/guild/verify/verify.ex
  worker/lib/notification/notification.ex
  worker/lib/user/discord_store.ex
  worker/lib/utils/api_error.ex
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/discord/discord.ex
  worker/lib/user/discord_store.ex
Due: worker-format, worker-credo

[deps] Updated Elixir dependencies
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[chore] Fixed `oauthclient` table migration for running test cases
  worker/priv/repo/migrations/20251015224841_update_oauth_client.exs
Due: worker-format, worker-credo

Fixed access level in test cases from change to an `Ecto.Enum` in 6ac8942
  worker/test/guild/utils_test.exs
  worker/test/user/key_test.exs
Due: worker-format, worker-credo

[chore] Cleaned up `Tornium.User.KeyStore`
  worker/lib/user/key_store.ex
Due: worker-format, worker-credo

[test] Fixed `Tornium.User.KeyStore` test case
  worker/test/user/key_store_test.exs
Due: worker-format, worker-credo

[test] Added missing test cases for `Tornium.Utils`
  worker/lib/utils/misc.ex
  worker/test/utils_test.exs
Due: worker-format, worker-credo

[test] Fixed tests for `Tornium.Discord.Constants`
  worker/lib/discord/constants.ex
  worker/test/discord/utils_test.exs
Due: worker-format, worker-credo

[chore] Added interactive test runner
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[chore] reformat
  worker/mix.exs
Due: worker-format, worker-credo

[test] Fixed OC parsing test cases
  worker/test/faction/oc/parser_test.exs
Due: worker-format, worker-credo

Changed Elixir tests to reuse the same test database
  worker/config/test.exs
  worker/mix.exs
  worker/test/repo_case.ex
Due: worker-format, worker-credo

[indev] Added basic server deletion and fetching
  worker/lib/discord/discord.ex
  worker/lib/guild/schema/server.ex
  worker/lib/workers/server_refresh_scheduler.ex
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20251120211826_add_server_attack_config.exs
  worker/test/guild/guild_deletion_test.exs
Due: worker-format, worker-credo

[chore] Removed extraneous dotfile
  userscripts/tornium-estimate/.exrc
Due: none

[indev] Start profile injection
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/logging.js
  userscripts/tornium-estimate/oauth.js
  userscripts/tornium-estimate/pages/profile.js
  userscripts/tornium-estimate/settings.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

Added sops-nix support
  .gitignore
  infra/.sops.yaml
  infra/README.md
  infra/common/default.nix
  infra/configuration.nix
  infra/flake.lock
  infra/flake.nix
  infra/hosts/common.nix
  infra/modules/postgresql-replica.nix
  infra/secrets/secrets.yaml
Due: none

Fixed age private key path for gitignore
  infra/hosts/common.nix
Due: none

Updated readme
  infra/README.md
Due: none

[indev] Added basic pg database
  infra/.sops.yaml
  infra/common/default.nix
  infra/hosts/proxy-db.nix
  infra/modules/postgresql-password-service.nix
  infra/modules/postgresql-replica.nix
  infra/secrets/secrets.yaml
Due: none

Replaced `peewee.IntegrityError` with on conflict statement for the personal stats update in `tasks.user.update_user`
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Added new error codes to TornError
  commons/tornium_commons/errors/torn.py
Due: commons-lint, commons-autoformat, commons-isort

Temporarily fixed broken index
  commons/tornium_commons/models/organized_crime_team_member.py
Due: commons-lint, commons-autoformat, commons-isort

Added redis script loading on flask app load (#281)
  application/app.py
  application/controllers/cli/__init__.py
  commons/tornium_commons/redisconnection.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[chore] Reformat
  application/app.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed server deletion in `tasks.guild.refresh_guilds`
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

Removed `alpha` notice from OC CPR page
  application/templates/faction/crime_cpr.html
Due: none

Fixed token not existing on `/settings/application/<id>`
  application/controllers/settings_routes.py
  application/templates/settings/application.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
