Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

Test fix
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Restrict exception handling
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed bugs in EV and probability calculation for optimum slots
  application/controllers/api/v1/faction/crimes.py
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/constants.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/entrypoint.js
Due: application-lint, application-autoformat, application-isort, application-bandit, userscript-format

Fixed `tornium-crimes` userscript to show data in all slots
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/constants.js
  userscripts/tornium-crimes/crime-page.js
Due: userscript-format

[indev] Added improved pgbackrest
  infra/flake.nix
  infra/modules/postgresql-pgbackrest.nix
Due: none

[indev] Added backups through B2
  infra/common/default.nix
  infra/configuration.nix
  infra/modules/fail2ban-ssh.nix
  infra/modules/postgresql-pgbackrest.nix
  infra/modules/postgresql-replica.nix
Due: none

[indev] Test fixes
  infra/modules/postgresql-pgbackrest.nix
Due: none

[untested] Added new withdrawal endpoint and migrated `/withdraw` to unified function
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/banking.py
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/withdrawal.py
  docs/src/reference/api/endpoints.md
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[indev] Added primary node to nix infra
  infra/common/default.nix
  infra/configuration.nix
  infra/flake.nix
  infra/hive.nix
  infra/hosts/common.nix
  infra/hosts/primary.nix
  infra/modules/postgresql-password-service.nix
  infra/modules/postgresql-pgbackrest.nix
  infra/modules/postgresql.nix
Due: none

Added redis to primary node
  infra/README.md
  infra/hosts/primary.nix
  infra/modules/postgresql-replica.nix
  infra/modules/redis.nix
  infra/secrets/secrets.yaml
Due: none

Added redis prometheus exporter
  infra/modules/nginx-prometheus-exporter.nix
  infra/modules/prometheus.nix
  infra/modules/redis.nix
Due: none

Added postgresql exporter and fixed redis exporter
  infra/modules/postgresql-prometheus-exporter.nix
  infra/modules/postgresql.nix
  infra/modules/redis.nix
Due: none

Added node exporter
  infra/modules/node-prometheus-exporter.nix
  infra/modules/prometheus.nix
Due: none

Fixed redis export password file
  infra/modules/redis.nix
Due: none

Added the flask web app to the primary node
  application/app.py
  application/controllers/api/v1/user/__init__.py
  application/controllers/cli/__init__.py
  application/controllers/developers/clients.py
  application/package.nix
  application/pyproject.toml
  application/skynet/__init__.py
  application/utils/notification_trigger.py
  celery/package.nix
  celery/pyproject.toml
  celery/python-liquid.nix
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/faction.py
  commons/package.nix
  commons/pyproject.toml
  commons/tornium_commons/config.py
  commons/tornium_commons/models/user.py
  commons/tornium_commons/oauth.py
  infra/common/default.nix
  infra/configuration.nix
  infra/hosts/primary.nix
  infra/modules/redis.nix
  infra/modules/tornium-web.nix
  infra/secrets/secrets.yaml
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Added celery to the primary node
  application/package.nix
  celery/package.nix
  celery/pyproject.toml
  celery/tornium_celery/celery_app.py
  infra/hosts/primary.nix
  infra/modules/tornium-celery.nix
  infra/modules/tornium-web.nix
Due: celery-lint, celery-autoformat, celery-isort

Added celery beat to primry node
  infra/hosts/primary.nix
  infra/modules/tornium-celery-beat.nix
Due: none

Added tornium_oc_graph to tornium_commons
  commons/package.nix
  commons/pyproject.toml
  infra/flake.lock
  infra/flake.nix
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-celery.nix
  infra/modules/tornium-web.nix
Due: none

Fixed redis exporter's password injection
  infra/modules/redis.nix
Due: none

Added Elixir worker to prod server
  infra/common/default.nix
  infra/hosts/primary.nix
  infra/modules/tornium-worker.nix
  infra/secrets/secrets.yaml
  worker/config/prod.exs
  worker/config/runtime.exs
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
  worker/package.nix
Due: worker-format, worker-credo

Fixed loading of SO from `tornium_oc_graph`
  infra/flake.lock
  infra/modules/tornium-web.nix
Due: none

Fixed xgboost stat estimation
  application/estimate/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added Tornium worker to the Prometheus scrape configuration
  infra/modules/tornium-worker.nix
Due: none

Fixed `tornium_oc_graph` for celery
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-celery.nix
Due: none

Added tornium-web to nginx config
  infra/hosts/primary.nix
  infra/hosts/proxy-db.nix
  infra/modules/nginx-proxy.nix
  infra/modules/nginx-status.nix
  infra/modules/nginx.nix
  infra/modules/tornium-web.nix
Due: none

Added SSL to NGINX
  infra/common/default.nix
  infra/modules/cloudflare.nix
  infra/modules/nginx.nix
  infra/modules/tornium-web.nix
  infra/secrets/secrets.yaml
Due: none

Fixed OOM issues by moving Celery results to use the FS backend instead of Redis
  application/controllers/api/v1/key/__init__.py
  application/controllers/authroutes.py
  application/skynet/commands/bot/verify.py
  application/skynet/commands/faction/cancel.py
  application/skynet/commands/faction/fulfill.py
  application/skynet/commands/faction/withdraw.py
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/faction.py
  celery/tornium_celery/tasks/guild.py
  celery/tornium_celery/tasks/user.py
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-celery.nix
  infra/modules/tornium-web.nix
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Fixed permissions issue with `tornium-web` reading Celery results from the file system
  infra/modules/tornium-celery-beat.nix
Due: none

Migrated API `@global_cache` decorator to use `tornium_commons.rds`
  application/controllers/api/v1/decorators.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[infra] Increased `tornium-web` worker count
  infra/modules/tornium-web.nix
Due: none

Fixed `/cancel` logic for when the withdrawal's faction is not the user's faction
  application/skynet/commands/faction/cancel.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Replaced usage of Redis JSON with `tornium_commons.altjson` loading and dumping
  application/controllers/api/v1/stocks/data.py
  application/controllers/api/v1/stocks/movers.py
  celery/tornium_celery/tasks/stocks.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Fixed circular dependency
  commons/tornium_commons/formatters.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed slow `OCMissingMemberNotifications` worker
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed new withdrawal endpoint and migrated withdrawal on `/faction/banking`
  application/controllers/api/v1/faction/banking.py
  application/controllers/faction/banking.py
  application/static/faction/banking.js
  application/templates/faction/banking.html
  commons/tornium_commons/models/withdrawal.py
  docs/src/reference/api/endpoints.md
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Added API endpoints to get user/faction vault requests and to cancel vault requests
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/banking.py
  application/controllers/api/v1/utils.py
  application/skynet/commands/faction/cancel.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[infra] added control commands for gunicorn and celery
  infra/modules/tornium-celery.nix
  infra/modules/tornium-web.nix
Due: none

[chore] Tweaked celery configuration for performance testing
  celery/tornium_celery/celery_app.py
  infra/modules/tornium-celery.nix
Due: celery-lint, celery-autoformat, celery-isort

[infra] Added `celery-exporter` for prometheus monitoring
  infra/hosts/primary.nix
  infra/modules/tornium-celery-exporter.nix
Due: none

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
