Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Fixed table styles in light mode
  application/static/styles/base/base.css
  application/static/styles/base/table.css
  application/static/styles/base/table.scss
  application/static/styles/styles.css
Due: application-sass

Fixed tomselect styles in light mode
  application/static/styles/base/base.css
  application/static/styles/base/base.css.map
  application/static/styles/base/link.css
  application/static/styles/base/link.css.map
  application/static/styles/layout/main-body.css
  application/static/styles/layout/main-body.css.map
  application/static/styles/layout/nav.css
  application/static/styles/layout/nav.css.map
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/themes.css
  application/static/styles/themes.css.map
  application/static/styles/themes.scss
  application/static/styles/vendor/datatables.css
  application/static/styles/vendor/datatables.css.map
  application/static/styles/vendor/tomselect.css
  application/static/styles/vendor/tomselect.scss
Due: application-sass

[docs] Added documentation for the chain list generator
  application/templates/stats/chain.html
  docs/src/SUMMARY.md
  docs/src/reference/stats-chain-list-generator.md
  docs/src/tutorial/chain-list.md
Due: none

Removed migration removing OD channel and data
  worker/lib/workers/overdose_daily_report.ex
  worker/priv/repo/migrations/20250912205005_remove_od_channel_data.exs
Due: worker-format, worker-credo

Revert "Removed old OD celery task"
  application/templates/faction/index.html
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Revert "Removed `od_channel` and `od_data` from faction schema"
  commons/tornium_commons/models/faction.py
  worker/lib/faction/schema/faction.ex
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

OD Rewrite (#320)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/config.py
  application/controllers/api/v1/bot/overdose.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/chain.py
  application/controllers/faction/__init__.py
  application/static/bot/guild.js
  application/static/faction/chain.js
  application/templates/bot/guild.html
  application/templates/faction/chain.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/overdose_count.py
  commons/tornium_commons/models/overdose_event.py
  commons/tornium_commons/models/server_overdose_config.py
  worker/config/config.exs
  worker/lib/discord/discord.ex
  worker/lib/faction/overdose.ex
  worker/lib/faction/schema/overdose_count.ex
  worker/lib/faction/schema/overdose_event.ex
  worker/lib/guild/schema/server_overdose_config.ex
  worker/lib/utils/api_store.ex
  worker/lib/workers/overdose_daily_report.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/priv/repo/migrations/20250912205005_remove_od_channel_data.exs
  worker/priv/repo/migrations/20250915175136_add_od_count_events.exs
  worker/test/faction/overdose_test.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[deps] Fixed tornex dependency
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed Oban cron configuration
  worker/config/config.exs
Due: worker-format, worker-credo

[deps] Fixed torngen client dependency
  worker/mix.exs
Due: worker-format, worker-credo

Removed old /faction/chain links in navbr
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
Due: none

Test fix for overdose events being created on initial load
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Decreased strictness of IP authentication ratelimiting
  application/controllers/authroutes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed minimum elixir version from 1.16 to 1.18
  worker/mix.exs
Due: worker-format, worker-credo

Added module reflection to find required v2 paths for a notification trigger
  worker/lib/notification/notification.ex
  worker/lib/notification/selections.ex
  worker/lib/workers/notification.ex
  worker/mix.exs
  worker/mix.lock
  worker/test/notification/selections_test.exs
Due: worker-format, worker-credo

Fixed report sending bug for OD daily reports
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Fixed handling of servers without OD config for the faction
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Fixed embed rendering for OD daily report
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Fixed datetime handling in OD embed generation
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Fixed OD report message sending
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Fixed daily overdose reporting sending overdose events past 24 hours before
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

[docs] Added documention for overdose notifications
  docs/src/SUMMARY.md
  docs/src/reference/bot-overdose.md
  docs/src/tutorial/discord-server-overdose.md
Due: none

[untested] Added UI to configure unverified roels
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/verify.py
  application/static/bot/verify.js
  application/templates/bot/verify.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

fixed bad7c8c4
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Added migration for unverified roles
  worker/lib/guild/schema/server.ex
  worker/lib/workers/overdose_daily_report.ex
  worker/priv/repo/migrations/20250925173056_add_unverified_role_config.exs
Due: worker-format, worker-credo

Updated python server model for unverified roels
  commons/tornium_commons/models/server.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed configuration UI and required API endpoints
  application/controllers/api/v1/bot/config.py
  application/static/bot/verify.js
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Added unverified role support to Elixir worker
  worker/lib/guild/verify/config.ex
  worker/lib/guild/verify/logic.ex
  worker/lib/guild/verify/verify.ex
  worker/test/guild/verify/logic_test.exs
Due: worker-format, worker-credo

Updated celery task to support unverified roles
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

[docs] Updated documentation for unverified roles
  docs/src/reference/bot-verification.md
Due: none

Updated `/verify` slash commnd to add support for unverified roles
  application/skynet/commands/bot/verify.py
  celery/tornium_celery/tasks/guild.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Apply suggestion from @Copilot
  docs/src/reference/bot-verification.md
Due: none

Apply suggestion from @Copilot
  worker/lib/guild/verify/logic.ex
Due: worker-format, worker-credo

Apply suggestion from @Copilot
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/guild/verify/config.ex
Due: worker-format, worker-credo

Add support for unverified roles (#328)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/config.py
  application/controllers/api/v1/bot/verify.py
  application/skynet/commands/bot/verify.py
  application/static/bot/verify.js
  application/templates/bot/verify.html
  celery/tornium_celery/tasks/guild.py
  commons/tornium_commons/models/server.py
  docs/src/reference/bot-verification.md
  worker/lib/guild/schema/server.ex
  worker/lib/guild/verify/config.ex
  worker/lib/guild/verify/logic.ex
  worker/lib/guild/verify/verify.ex
  worker/priv/repo/migrations/20250925173056_add_unverified_role_config.exs
  worker/test/guild/verify/logic_test.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Test fix for unverified roles in verify slash command and user command
  application/skynet/commands/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/skynet/commands/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed new chain list generator using newest stats within range instead of skipping newest stats outside of the range
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit
