Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

Fixed `@token_required` when there are view arguments
  application/controllers/decorators.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added missing `faction:attacks` scope to authorized application page
  application/templates/settings/application.html
Due: none

fix: truncate first_authorized timestamp to seconds
  application/controllers/settings_routes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated `truncate_to_seconds` docstring and typehints
  application/controllers/settings_routes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

fix: truncate first_authorized timestamp to seconds (#350)
  application/controllers/settings_routes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Reformat
  application/controllers/settings_routes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added Discord channel test button to channel selectors (#257)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/utils.py
  application/static/components/channel-selector.js
  application/static/global/api.js
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/vendor/tomselect.css
  application/static/styles/vendor/tomselect.css.map
  application/static/styles/vendor/tomselect.scss
  application/templates/bot/guild.html
  application/templates/bot/notification.html
  application/templates/bot/oc.html
  application/templates/bot/verify.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass

Fixed postgresql password service
  infra/common/default.nix
  infra/hosts/common.nix
  infra/modules/postgresql-password-service.nix
Due: none

Disable faction AA perms on users who get error code 7 to certain faction API calls
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/oc_cpr_update.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Fixed armory action parsign for item names with words in "x"
  worker/lib/faction/news/armory_action.ex
  worker/mix.exs
  worker/test/faction/armory_action_news_test.exs
Due: worker-format, worker-credo

[chore] Reformat
  worker/test/faction/armory_action_news_test.exs
Due: worker-format, worker-credo

Fixed scheduling armory news updates with more than one AA key
  worker/lib/workers/armory_news_update_scheduler.ex
Due: worker-format, worker-credo

Fixed mix environment for test aliases
  worker/mix.exs
Due: worker-format, worker-credo

Fixed trailing period parsing from old armory action news logs
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

Fixed `tasks.faction.update_faction` when the `positions` selection was not included in the API call
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added basic armory log viewer
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/armory.py
  application/controllers/faction/__init__.py
  application/controllers/faction/armory.py
  application/static/components/table-viewer.js
  application/static/faction/armory.js
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
  commons/tornium_commons/formatters.py
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/armory_usage.py
  commons/tornium_commons/models/item.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Updated `<table-viewer>` component to page properly
  application/static/components/table-viewer.js
Due: application-js-format

Added filters to the `<table-viewer>` web component and the armory viewer page
  application/controllers/api/v1/faction/armory.py
  application/controllers/api/v1/utils.py
  application/controllers/faction/armory.py
  application/static/components/table-viewer.js
  application/static/faction/armory.js
  application/templates/faction/armory.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/armory_usage.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Added configuration and added estimates to the profile page
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/pages/common.js
  userscripts/tornium-estimate/pages/profile.js
  userscripts/tornium-estimate/settings.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

Added fetching of user's stat score from the gym page and fair fight calculations
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/pages/common.js
  userscripts/tornium-estimate/pages/profile.js
Due: userscript-format

[indev] Added basic RW support
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
  userscripts/tornium-estimate/pages/faction-rw.js
  userscripts/tornium-estimate/pages/profile.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

Fixed caching
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
Due: userscript-format

Added support for estimates to the faction RW page
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/pages/faction-rw.js
Due: userscript-format

Added support for advanced search
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/pages/search.js
  userscripts/tornium-estimate/settings.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

[chore] Updated version to 0.5.0-dev
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Added support for attack loaders
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/pages/attack-loader.js
  userscripts/tornium-estimate/pages/faction-rw.js
  userscripts/tornium-estimate/pages/search.js
Due: userscript-format

[docs] Fixed crashing mdbook builds in newest versions due to removed `multilingual` config key
  docs/book.toml
Due: none

[docs] Added docs for the `tornium-estimate` userscript
  docs/src/SUMMARY.md
  docs/src/images/tornium-estimate-attack-loader.png
  docs/src/images/tornium-estimate-authorize.png
  docs/src/images/tornium-estimate-faction-rw.png
  docs/src/images/tornium-estimate-profile-settings.png
  docs/src/images/tornium-estimate-profile.png
  docs/src/images/tornium-estimate-search.png
  docs/src/images/tornium-estimate-settings.png
  docs/src/reference/tornium-estimate.md
  docs/src/tutorial/tornium-estimate.md
Due: none

Fixed docs link in the userscript's settings
  userscripts/tornium-estimate/settings.js
Due: userscript-format

[chore] Bumped `tornium-estimate` userscript version
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[docs] Fixed `tornium-estimate` docs for the settings button on mobile devices
  docs/src/tutorial/tornium-estimate.md
Due: none

Added postgresql replication
  infra/common/default.nix
  infra/modules/postgresql-password-service.nix
  infra/modules/postgresql-replica.nix
  infra/secrets/secrets.yaml
Due: none

Fixed insertion order of personal stats and user to fix the `ForeignKeyViolation` when the user is not yet in the database
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Inceased timeout of `ArmoryNewsUpdateScheduler` worker
  worker/lib/workers/armory_news_update_scheduler.ex
Due: worker-format, worker-credo

Fixed missing `:retrieve` armory usage type in enums
  commons/tornium_commons/models/armory_usage.py
  worker/lib/faction/schema/armory_usage.ex
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed userscript authentication on TPDA
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Added team list updating
  worker/config/config.exs
  worker/lib/elimination/elimination.ex
  worker/lib/elimination/schema/elimination_member.ex
  worker/lib/elimination/schema/elimination_record.ex
  worker/lib/elimination/schema/elimination_team.ex
  worker/lib/user/key.ex
  worker/lib/workers/competition_update.ex
  worker/priv/repo/migrations/20251206015725_add_elimination.exs
Due: worker-format, worker-credo

[chore] reformat
  worker/lib/elimination/schema/elimination_member.ex
  worker/lib/workers/competition_update.ex
Due: worker-format, worker-credo

Added server config and python models
  commons/tornium_commons/models/elimination_member.py
  commons/tornium_commons/models/elimination_record.py
  commons/tornium_commons/models/elimination_team.py
  commons/tornium_commons/models/server_verification_elimination_config.py
  worker/lib/elimination/elimination.ex
  worker/lib/guild/schema/server_verification_elimination_config.ex
  worker/lib/user/schema/torn_key.ex
  worker/lib/user/update.ex
  worker/priv/repo/migrations/20251206015725_add_elimination.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
