Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

Fixed missing scope in authorization code grant save
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed on join role/nick changeset building for unverified members
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

[chore] Increased `:faction_processing` queue size
  worker/config/config.exs
Due: worker-format, worker-credo

bug fix
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed OC team deletion when team was assigned to an OC
  application/controllers/api/v1/faction/crime_team.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/controllers/api/v1/faction/crime_team.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Refactored retaliation embed generation and changed minimum chain length to 10
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added toggle for disabling RW retal notifications
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/attacks.py
  application/controllers/api/v1/bot/config.py
  application/static/bot/guild.js
  application/templates/bot/guild.html
  commons/tornium_commons/models/server_attack_config.py
  worker/lib/guild/schema/server_attack_config.ex
  worker/priv/repo/migrations/20250929171146_add_war_retal_toggle.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Changed `tasks.faction.check_attacks` to skip retals during RWs where not enabled instead of all retals during RWs
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added toggling of retals during RWs
  .lefthook.yaml
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/attacks.py
  application/controllers/api/v1/bot/config.py
  application/controllers/api/v1/faction/__init__.py
  application/static/bot/guild.js
  application/templates/bot/guild.html
  celery/tornium_celery/tasks/faction.py
  commons/tornium_commons/models/server_attack_config.py
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/Makefile
  userscripts/tornium-retaliations/api.js
  userscripts/tornium-retaliations/cache.js
  userscripts/tornium-retaliations/constants.js
  userscripts/tornium-retaliations/dom.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/header.js
  userscripts/tornium-retaliations/logging.js
  userscripts/tornium-retaliations/oauth.js
  userscripts/tornium-retaliations/retal.js
  userscripts/tornium-retaliations/settings.js
  worker/lib/guild/schema/server_attack_config.ex
  worker/priv/repo/migrations/20250929171146_add_war_retal_toggle.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

Fixed auto cancellation of banking requests when there are no AA keys
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed nullability of message and channel IDs for retaliations for c1450337
  commons/tornium_commons/models/retaliation.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed message ID saving for retaliations
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed patching retaliation embeds once completed when no original message was sent
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed nullability of message and channel IDs on retaliations that weren't notified when timing them out
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Changed chain list generator to open targets to background tab
  application/static/stats/list.js
Due: application-js-format

Cleaned up faction members table rendering
  application/templates/faction/members.html
Due: none

Added user settings toggle for sharing opponent's stats for the stat DB
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/user_settings/__init__.py
  application/static/settings/settings.js
  application/templates/settings/settings.html
  celery/tornium_celery/tasks/user.py
  commons/tornium_commons/models/user_settings.py
  worker/lib/user/schema/user_settings.ex
  worker/priv/repo/migrations/20250929193944_add_stat_db_user_setting.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[indev]
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/.exrc
  userscripts/tornium-estimate/Makefile
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/dom.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
  userscripts/tornium-estimate/logging.js
  userscripts/tornium-estimate/oauth.js
  userscripts/tornium-estimate/settings.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

Test fix of retaliation message IDs not being stored
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed null API keys for server admins in daily verification
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

Shortened `/faction` subcommand descriptions
  application/commands/faction/data/faction.json
Due: none

Fixed channel and message ID persistence for retaliations
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed handling of ratelimited auth routes
  application/controllers/authroutes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed role PATCH on member join verification
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed `find_slot_member/3` when there were no valid members
  worker/lib/faction/schema/organized_crime_team_member.ex
Due: worker-format, worker-credo

Test fix
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Continuation of 8f35dcab
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

[chore] refactor
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Added option for chain alert minimum time remaining
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/attacks.py
  application/controllers/api/v1/bot/config.py
  application/static/bot/guild.js
  application/templates/bot/guild.html
  celery/tornium_celery/tasks/faction.py
  commons/tornium_commons/models/server_attack_config.py
  worker/lib/guild/schema/server_attack_config.ex
  worker/priv/repo/migrations/20251002221651_add_chain_alert_minimum.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Decreased minimum chain length for chain alerts
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Increased timeout of `tasks.guild.refresh_guilds`
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed `tfetch` error message when there is no error handler
  application/static/global/api.js
Due: application-js-format

Added scoped ratelimiting
  application/controllers/api/v1/decorators.py
  application/controllers/api/v1/stat/__init__.py
  application/controllers/api/v1/utils.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated withdrawal message to use `$` instead of `in cash`
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added commas to OC required item market value when rendering the notification
  worker/lib/faction/oc/render.ex
  worker/lib/utils/misc.ex
Due: worker-format, worker-credo

Fixed personal stats fetching in `tasks.user.update_user`
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Minor bug fixes
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/api.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/stats.js
Due: userscript-format

[indev] Refactored existing pages
  application/controllers/developers/clients.py
  application/templates/developers/client_dashboard.html
  application/templates/developers/clients.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Added .well-known endpoint for oauth discovery
  application/controllers/oauth.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
