Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

[deps] Upgraded Oban to v2.22.0 with v13 DB migration
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20250905025416_upgrade_oban_v13.exs
Due: worker-format, worker-credo

Testing Oban job uniqueness fixes
  worker/lib/workers/notification.ex
  worker/lib/workers/notification_scheduler.ex
  worker/lib/workers/oauth_revocation.ex
  worker/lib/workers/oc_cpr_update.ex
  worker/lib/workers/oc_cpr_update_scheduler.ex
  worker/lib/workers/oc_migration_check.ex
  worker/lib/workers/oc_team_update.ex
  worker/lib/workers/oc_update.ex
  worker/lib/workers/oc_update_scheduler.ex
Due: worker-format, worker-credo

Fixed retained notification after resource ID change (#307)
  application/controllers/api/v1/notification/notification.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added faction:attacks scope to API
  application/controllers/oauth.py
  application/templates/oauth/authorize.html
Due: application-lint, application-autoformat, application-isort, application-bandit

[indev] Added OAuth handling to userscript
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/constants.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/header.js
  userscripts/tornium-retaliations/oauth.js
  userscripts/tornium-retaliations/settings.js
Due: userscript-format

[indev] Added retal endpoint
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/attacks.py
  commons/tornium_commons/models/retaliation.py
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/api.js
  userscripts/tornium-retaliations/constants.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/logging.js
  userscripts/tornium-retaliations/oauth.js
  userscripts/tornium-retaliations/settings.js
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, userscript-format

[deps] Updated tornex to rc version
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed `roles_to_string` usage in OC team message rendering
  worker/lib/faction/oc_team/render.ex
Due: worker-format, worker-credo

Added bucket TTL configuration for Tornex
  worker/config/config.exs
Due: worker-format, worker-credo

[legal] Updated privacy policy to comply to table requirement
  application/templates/privacy.html
Due: none

Fixed e1d0f8d2
  application/templates/privacy.html
Due: none

[docs] Migrated data use and storage policy from privacy policy to docs
  docs/src/SUMMARY.md
  docs/src/data-use-storage.md
Due: none

[deps] Updated tornex to v0.4.0-rc.2
  worker/lib/application.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[deps] Updated tornex to v0.4.0
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[indev] Added base of command
  application/commands/faction/data/faction.json
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Test
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added good message
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added followup message
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed followup message
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed followup messages
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added command listing missing members (#316)
  application/commands/faction/data/faction.json
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added data use policy to comply with yet more torn requirements
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/vendor/bootstrap.css
  application/static/styles/vendor/bootstrap.css.map
  application/static/styles/vendor/bootstrap.scss
  application/templates/login.html
Due: application-sass

[indev] Added retal endpoint
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/attacks.py
  commons/tornium_commons/models/retaliation.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[chore] Reformat
  application/controllers/api/v1/faction/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[indev] Added caching
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/api.js
  userscripts/tornium-retaliations/cache.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/oauth.js
  userscripts/tornium-retaliations/retal.js
  userscripts/tornium-retaliations/settings.js
Due: userscript-format

[indev] Started retal table rendering
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/api.js
  userscripts/tornium-retaliations/cache.js
  userscripts/tornium-retaliations/dom.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/header.js
  userscripts/tornium-retaliations/retal.js
Due: userscript-format

[indev] Added rendering of retals
  userscripts/tornium-retaliations.user.js
  userscripts/tornium-retaliations/entrypoint.js
  userscripts/tornium-retaliations/retal.js
Due: userscript-format

[indev] Added OC CPR viewer
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  application/controllers/api/v1/faction/faction.py
  application/controllers/faction/__init__.py
  application/controllers/faction/crimes.py
  application/static/faction/crime-cpr.js
  application/templates/faction/crime_cpr.html
  commons/tornium_commons/models/user.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Fixed OC CPR viewer styling on mobile viewports
  application/static/faction/crime-cpr.js
Due: application-js-format

Added progress message
  application/static/faction/crime-cpr.js
Due: application-js-format

OC CPR Viewer (#319)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  application/controllers/api/v1/faction/faction.py
  application/controllers/faction/__init__.py
  application/controllers/faction/crimes.py
  application/static/faction/crime-cpr.js
  application/templates/faction/crime_cpr.html
  commons/tornium_commons/models/user.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Removed old OD configuration pages
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/chain.py
  application/controllers/faction/__init__.py
  application/controllers/faction/chain.py
  application/static/faction/chain.js
  application/templates/faction/chain.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Removed old OD celery task
  application/templates/faction/index.html
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Removed `od_channel` and `od_data` from faction schema
  commons/tornium_commons/models/faction.py
  worker/lib/faction/schema/faction.ex
  worker/priv/repo/migrations/20250912205005_remove_od_channel_data.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Added new schemas for OD notification configuration
  commons/tornium_commons/models/server_overdose_config.py
  worker/lib/guild/schema/server_overdose_config.ex
  worker/priv/repo/migrations/20250912205910_add_server_od_config.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo
