Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Updated function/module docs and types for verificationOM
  worker/lib/guild/verify/logic.ex
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Added submit button to /faction/bot and restyled the form
  application/templates/faction/bot.html
Due: none

Added missing default value to the `faction-hospital` notification
  notifications/faction-hospital/README.md
  notifications/faction-hospital/code.lua
Due: none

[indev] [untested] Add s3 support
  infra/common/default.nix
  infra/hosts/proxy-db.nix
  infra/modules/postgresql-pgbackrest.nix
  infra/secrets/secrets.yaml
Due: none

Fixed API error handling in notifications
  worker/lib/notification/notification.ex
Due: worker-format, worker-credo

Fixed verification validation when the user's original nickname is `nil`
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Disabled role/user ping in missing member notification when the member has not completed an OC
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed extraneous parsing of extremely old faction data with a different string format
  worker/lib/faction/news/news.ex
Due: worker-format, worker-credo

[deps] Bumped bandit and torngen client
  worker/mix.lock
Due: none

Fixed error handling of division by zero in opponent score calculations for retaliations and the stat DB
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed postgresql hba
  infra/modules/postgresql-replica.nix
Due: none

Fixed deprecated nix features
  infra/common/default.nix
Due: none

[indev] Fixed pgbackrest (pending primary node support)
  infra/modules/postgresql-pgbackrest.nix
  infra/secrets/secrets.yaml
Due: none

[notification] Added `ONLY_RW` parameter to `faction-self-hosp` notification
  notifications/faction-self-hosp/code.lua
  notifications/faction-self-hosp/config.toml
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Changed `to_boolean` Lua API to be case insensitive
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Fixed API documentation link
  application/templates/developers/index.html
Due: none

Added cumulative armory usage viewer
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/armory.py
  application/static/faction/armory.js
  application/templates/faction/armory.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Added commas to quantities in armory viewers
  application/static/faction/armory.js
Due: application-js-format

Fixed fallback for non-binary values of `to_boolean` in the lua API
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Fixed `to_boolean/1` Lua API for uppercase boolean strings
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Added tests for `to_boolean/1` Lua API
  worker/test/notification/lua_api.ex
Due: worker-format, worker-credo

[notification] Added basic tests for `faction-self-hosp` for notification-inator
  notifications/faction-self-hosp/test.exs
Due: none

[notification] Fixed handling of invalid `TRAVEL_METHOD` value in `faction-traveling` notification
  notifications/faction-traveling/code.lua
Due: none

Fixed foreign key violation in inserting armory news to the database
  worker/lib/faction/schema/armory_usage.ex
  worker/lib/user/schema/user.ex
Due: worker-format, worker-credo

[chore] Fixed typespec of the `Tornium.Schema.User` struct
  worker/lib/user/schema/user.ex
Due: worker-format, worker-credo

[chore] Fixed unused import
  worker/lib/user/schema/user.ex
Due: worker-format, worker-credo

[notification] Fixed handling of RW end timestamp in `faction-self-hosp` notification
  notifications/faction-self-hosp/code.lua
Due: none

[notification][test] Fixed test case for 2d7b173b
  notifications/faction-self-hosp/test.exs
Due: none

Fixed `User.ensure_exists/1` usage in `ArmoryUsage.insert_all/2`
  worker/lib/faction/schema/armory_usage.ex
Due: worker-format, worker-credo

bug fix
  worker/lib/faction/schema/armory_usage.ex
Due: worker-format, worker-credo

[untested] Fixed foreign key violation in overdose update worker
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Changed /faction/crimes/cpr to not require the manage crimes permission
  application/controllers/api/v1/faction/crimes.py
  application/controllers/faction/crimes.py
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed styling in 1f9eb0ae
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/crimes.html
  application/templates/faction/index.html
  application/templates/faction/members.html
Due: none

Fixed styling of card header in /faction/criems/cpr
  application/templates/faction/crime_cpr.html
Due: none

Fixed styling of `.ts-wrapper` to use `flex-grow` instead of `width`
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/vendor/tomselect.css
  application/static/styles/vendor/tomselect.css.map
  application/static/styles/vendor/tomselect.scss
Due: application-sass

[untested] Refactored notifications and started support for an SSE gateway in the notifications
  worker/lib/faction/schema/faction.ex
  worker/lib/notification/delivery/adapter.ex
  worker/lib/notification/delivery/discord.ex
  worker/lib/notification/delivery/gateway.ex
  worker/lib/notification/notification.ex
  worker/lib/notification/schema/notification.ex
  worker/lib/notification/schema/trigger.ex
  worker/lib/workers/notification.ex
  worker/lib/workers/notification_scheduler.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Added `gateway_template` to the `notification_trigger` schema and added support for the gateway template to the config and config loading
  application/controllers/oauth.py
  application/utils/notification_trigger.py
  commons/tornium_commons/models/notification_trigger.py
  notifications/faction-hospital/config.toml
  notifications/faction-hospital/message.discord.liquid
  notifications/faction-self-hosp/config.toml
  notifications/faction-self-hosp/message.discord.liquid
  notifications/faction-traveling/config.toml
  notifications/faction-traveling/message.discord.liquid
  worker/lib/notification/delivery/discord.ex
  worker/lib/notification/schema/trigger.ex
  worker/priv/repo/migrations/20260120040510_add_gateway_notification_template.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Added gateway token schema for connecting to the SSE gateway
  commons/tornium_commons/models/gateway_token.py
  worker/lib/gateway/schema/token.ex
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20260120044304_add_gateway_tokens.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[legal] Updated data use and storage policy regarding IP addresses for the SSE gateway
  docs/src/data-use-storage.md
Due: none

Added gateway token creation and revocation
  application/Makefile
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/gateway/__init__.py
  application/controllers/api/v1/utils.py
  application/controllers/oauth.py
  application/templates/oauth/authorize.html
  commons/tornium_commons/models/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort
