Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[infra] Modified nix packaging to add flask for authlib
  celery/package.nix
  commons/package.nix
Due: none

Updated faction linking instructions to reference docs
  application/templates/bot/guild.html
Due: none

Release tornium-estimate v0.5.11
  userscripts/shared/oauth.js
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/Makefile
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[untested] Optimized `tasks.faction.fetch_attacks_runner` to reduce API call size and number of DB queries
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed c6e3eaa7
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Disabled retries on Discord API Celery tasks
  celery/tornium_celery/tasks/api.py
Due: celery-lint, celery-autoformat, celery-isort

[infra] Fixed pgbackrest service running on every system upgrade
  infra/modules/postgresql-pgbackrest.nix
Due: none

[infra] Fixed the filesystem result backend for the Celery workers changing breaking the Flask website sometimes
  infra/modules/tornium-celery.nix
Due: none

[docs] Added basic description of the implementation of OC scenario graphing
  docs/src/SUMMARY.md
  docs/src/explanation/oc-scenario-graphing.md
Due: none

Added Makefile with format command to shared userscript code
  userscripts/shared/Makefile
Due: none

[untested] Fixed bugs in OAuth refresh flow
  userscripts/shared/oauth.js
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[docs] Added API endpoint `/faction/<faction_id>/overdose` to the docs
  docs/src/reference/api/endpoints.md
Due: none

[infra] Updated banned users list
  infra/modules/tornium-web.nix
Due: none

Test fixes
  userscripts/shared/oauth.js
  userscripts/tornium-estimate.user.js
Due: userscript-format

Fixed `refreshToken` not forcing a refresh upon button press on the settings page
  userscripts/shared/oauth.js
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/settings.js
Due: userscript-format

Release tornium-estimate v0.5.12
  userscripts/shared/oauth.js
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[security] Fixed refresh token flow not generating access tokens with the correct refresh token expiration
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Improved logging of refresh token re-use to include IP and refresh token
  commons/tornium_commons/models/oauth_token.py
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed c01ea885
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed `UserUpdateScheduler` not including users without a statscore in the list of high priority updates
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Fixed setting one-shot notifications
  application/static/notification/trigger-server-setup.js
Due: application-js-format

[deps] Bumped dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

Banned user for logging into other accounts
  infra/modules/tornium-web.nix
Due: none

Fixed refresh token flow failing with concurrent/subsequent requests
  userscripts/shared/oauth.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[chore] Reformat
  userscripts/shared/oauth.js
Due: userscript-format

Changed caching to only cache specific header keys and reduced verbosity of caching logs
  userscripts/tornium-estimate/cache.js
Due: userscript-format

Unbanned user
  infra/modules/tornium-web.nix
Due: none

Added models to store OC graph data
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/organized_crime_graph_edge.py
  commons/tornium_commons/models/organized_crime_graph_node.py
  commons/tornium_commons/models/organized_crime_graph_node_variant.py
  worker/lib/faction/schema/organized_crime_graph_edge.ex
  worker/lib/faction/schema/organized_crime_graph_node.ex
  worker/lib/faction/schema/organized_crime_graph_node_variant.ex
  worker/priv/repo/migrations/20260918152132_add_oc_graph.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[security] Test fix for refresh tokens alerting being revoked when they're not
  commons/tornium_commons/oauth.py
Due: commons-lint, commons-autoformat, commons-isort

Changed token refresh button to reload page upon completion
  userscripts/tornium-estimate/settings.js
Due: userscript-format

Release tornium-estimte v0.5.13
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[indev] Added basic userscript functionality to upload scenario data and started API endpoint
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  commons/tornium_commons/models/organized_crime.py
  commons/tornium_commons/models/organized_crime_graph_node_variant.py
  commons/tornium_commons/models/organized_crime_slot_type.py
  commons/tornium_commons/models/organized_crime_type.py
  userscripts/shared/api.js
  userscripts/shared/cache.js
  userscripts/shared/logging.js
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/Makefile
  userscripts/tornium-crimes/constants.js
  userscripts/tornium-crimes/entrypoint.js
  userscripts/tornium-crimes/header.js
  userscripts/tornium-crimes/scenario-exporter.js
  worker/lib/faction/schema/organized_crime.ex
  worker/lib/faction/schema/organized_crime_graph_node_variant.ex
  worker/priv/repo/migrations/20260918152132_add_oc_graph.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

Added fallback message to toasts to avoid showing undefined
  application/static/toast.js
Due: application-js-format

[notification] Added configurable `ROLES` to the `faction-self-hosp` notification trigger and added the `tornium.to_list` and `tornium.to_list_strict` API functions for the notification Lua VM
  notifications/faction-self-hosp/README.md
  notifications/faction-self-hosp/code.lua
  notifications/faction-self-hosp/config.toml
  notifications/faction-self-hosp/message.liquid
  notifications/faction-self-hosp/test.exs
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/notification/lua_api.ex
  worker/lib/notification/notification.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update_scheduler.ex
  worker/test/notification/lua_api.ex
Due: worker-format, worker-credo

[chore] Fixed ecto migrations to allow tests to run
  worker/priv/repo/migrations/20251015224841_update_oauth_client.exs
  worker/priv/repo/migrations/20260904033324_add_oauth_token_family_id.exs
Due: worker-format, worker-credo

[notification] Fixed extraneous `<@&>` in `faction-self-hosp` notification trigger
  notifications/faction-self-hosp/message.liquid
Due: none

[untested] Added `ChainMonitor` discovery
  worker/lib/application.ex
  worker/lib/faction/chain_monitor/discovery.ex
  worker/lib/faction/chain_monitor/supervisor.ex
  worker/lib/faction/schema/chain.ex
  worker/lib/faction/schema/faction.ex
  worker/lib/guild/schema/server.ex
  worker/priv/repo/migrations/20261006012342_add_chains.exs
  worker/test/faction/chain_monitor_discovery_test.exs
Due: worker-format, worker-credo

[chore] reformat
  worker/test/faction/chain_monitor_discovery_test.exs
Due: worker-format, worker-credo

[chore] Changed `ChainMonitor.send_message/2` to not add the non-mocked implementation when not in the `:test` environment
  worker/lib/faction/chain_monitor/chain_monitor.ex
Due: worker-format, worker-credo

Added chain insertion to the database
  worker/lib/faction/schema/chain.ex
  worker/lib/workers/active_warfare_update.ex
  worker/lib/workers/chain_update.ex
Due: worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
