Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[chore] Reformat
  commons/tornium_commons/models/torn_event.py
Due: commons-lint, commons-autoformat, commons-isort

Added a template for the calendar
  application/controllers/faction/__init__.py
  application/controllers/faction/calendar.py
  application/templates/faction/calendar.html
  application/templates/faction/subnav.html
  application/templates/search-pages.html
Due: application-lint, application-autoformat, application-isort, application-bandit

[deps] Bumped elixir deps for CVE fixes
  worker/deps.nix
  worker/mix.lock
Due: none

Test fix for faction positions not inserting on first login
  application/controllers/authroutes.py
  celery/tornium_celery/tasks/user.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Fixed `Tornium.Guild.Verify.Config.validate/1` retaining strings for role IDs for faction position roles from the database which breaks `remove_invalid_faction_position_roles/3`
  worker/lib/guild/verify/config.ex
  worker/test/guild/verify/config_test.exs
Due: worker-format, worker-credo

Added `TornEvent` upsertion to the database from API
  worker/config/config.exs
  worker/lib/event/schema/torn_event.ex
  worker/lib/workers/torn_events_update.ex
  worker/priv/repo/migrations/20260726011513_add_events.exs
Due: worker-format, worker-credo

Fixed JS integer "shortening" for `VerificationLog.to_dict`
  commons/tornium_commons/models/verification_log.py
Due: commons-lint, commons-autoformat, commons-isort

[indev] Started timeline view of calendar
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/calendar.py
  application/static/faction/calendar-grid.js
  application/static/faction/calendar-timeline.js
  application/static/faction/calendar.js
  application/templates/faction/calendar.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/torn_event.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Added verification log head for API code 6 to be handled as `:unverified`in `Tornium.Guild.Verify.log/2`
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

[deps] Bumped deps
  worker/deps.nix
  worker/mix.lock
Due: none

[docs] Added Diátaxis to docs readme
  docs/src/README.md
Due: none

[docs] Added guide to create vault requests
  application/templates/faction/banking.html
  docs/src/SUMMARY.md
  docs/src/guide/vault-request.md
  docs/src/images/tornium-banking-website.png
  docs/src/images/tornium-banking-withdraw-cancel.png
  docs/src/images/tornium-banking-withdraw-command.png
  docs/src/images/tornium-banking-withdraw-insufficient.png
  docs/src/images/tornium-banking-withdraw-not-sent.png
  docs/src/images/tornium-banking-withdraw-request.png
  docs/src/images/tornium-banking-withdraw-success.png
  docs/src/images/tornium-banking-withdraw-time-out.png
Due: none

[docs] Fixed link to banking guide in /faction/banking
  application/templates/faction/banking.html
Due: none

[indev] Started grid view of calendar
  application/static/faction/calendar-grid.js
  application/static/faction/calendar.js
  application/templates/faction/calendar.html
Due: application-js-format

[docs] Fixed image and clarified text in vault-request guide
  docs/src/guide/vault-request.md
Due: none

[deps] Bumped dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

[deps] Bumped nostrum
  worker/deps.nix
  worker/mix.lock
Due: none

[deps] Bumped deps_nix
  worker/deps.nix
  worker/mix.lock
Due: none

Added slot name to extra-range CPR notification message
  worker/lib/faction/oc/render.ex
  worker/lib/faction/schema/organized_crime_slot.ex
Due: worker-format, worker-credo

Added rendering of Torn events to grid view of calendar
  application/controllers/api/v1/faction/calendar.py
  application/controllers/faction/__init__.py
  application/controllers/faction/calendar.py
  application/controllers/oauth.py
  application/static/faction/calendar-grid.js
  application/static/faction/new-steadfast-event.js
  application/templates/faction/calendar/calendar.html
  application/templates/faction/calendar/new-chain-event.html
  application/templates/faction/calendar/new-event.html
  application/templates/faction/calendar/new-ranked-war-event.html
  application/templates/faction/calendar/new-steadfast-event.html
  application/templates/oauth/authorize.html
  docs/src/reference/api/oauth-provider.md
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Changed `/cancel` to use `@with_deferred_response`
  application/skynet/commands/faction/cancel.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added steadfast event saving
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/calendar.py
  application/static/faction/calendar-grid.js
  application/static/faction/new-steadfast-event.js
  application/templates/faction/calendar/calendar.html
  commons/tornium_commons/models/steadfast_event.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

Fixed pagination and added steadfast rendering
  application/static/faction/calendar-grid.js
  application/templates/faction/calendar/calendar.html
Due: application-js-format

Added basic server refreshing
  worker/lib/discord/discord.ex
  worker/lib/guild/schema/server.ex
  worker/lib/workers/server_refresh.ex
  worker/lib/workers/server_refresh_scheduler.ex
Due: worker-format, worker-credo

[chore] Removed unused `bot/stakeouts.js` file
  application/static/bot/stakeouts.js
Due: application-js-format

Removed application tests
  application/tests/__init__.py
  application/tests/connection_tests.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[deps] Updated application dependencies
  application/pyproject.toml
Due: none

[chore] Updated moduledoc
  worker/lib/workers/server_refresh_scheduler.ex
Due: worker-format, worker-credo

Added database migration to delete related rows and fixed bugs
  worker/lib/discord/discord.ex
  worker/lib/faction/schema/faction.ex
  worker/lib/faction/schema/faction_position.ex
  worker/lib/guild/schema/server.ex
  worker/lib/workers/server_refresh.ex
  worker/priv/repo/migrations/20260814203539_add_server_on_delete.exs
Due: worker-format, worker-credo

[deps] Bumped tornex to use release version in hex
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Changed `/faction members flying` to split members per destination instead of having one long list
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated error templates to not include the automated logging tool message
  application/templates/errors/400.html
  application/templates/errors/401.html
  application/templates/errors/403.html
  application/templates/errors/404.html
  application/templates/errors/405.html
  application/templates/errors/500.html
  application/templates/errors/501.html
  application/templates/errors/503.html
  application/templates/errors/discord.html
  application/templates/errors/error.html
  application/templates/errors/networking.html
  application/templates/errors/ratelimit.html
  application/templates/errors/torn.html
Due: none

Fixed `Tornium.Workers.UserUpdateScheduler` failing to keep users' stat scores updated when they're already updated through the faction
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Changed fulfill methods to use a shared function that updates with a where clause to prevent fulfilling an already fulfilled request
  application/controllers/faction/banking.py
  application/skynet/commands/faction/fulfill.py
  commons/tornium_commons/models/withdrawal.py
  worker/lib/faction/schema/withdrawal.ex
  worker/priv/repo/migrations/20260829192006_change_withdrawal_faction_id.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Bug fixes
  application/controllers/faction/banking.py
  application/skynet/commands/faction/fulfill.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Fixed missing ephemeral flags in fulfillment catch-all error
  application/skynet/commands/faction/fulfill.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[infra] Added service for starting database replication
  infra/hosts/proxy-db.nix
  infra/modules/postgresql-replica-service.nix
  infra/modules/postgresql.nix
Due: none

Decreased oban job max age from six hours to one hour
  worker/config/config.exs
Due: worker-format, worker-credo

Fixed failed withdrawal faction ID references due to 8fa4ee3
  application/controllers/api/v1/faction/banking.py
  application/controllers/faction/banking.py
  application/skynet/commands/faction/cancel.py
  celery/tornium_celery/tasks/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
