Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

[deps] Updated `deps.nix`
  worker/deps.nix
Due: none

Updated `Tornium.Workers.OCMissingMemberNotifications` to not notify on members in recruit status
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

[untested] Fixed faction position update in user update
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Changed the `Tornium.Workers.OCMissingMemberNotification` to send notifications for members who haven't been in an OC before in their faction
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Added fedded filter to chain list generator v2
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed SQL query in 2763a787
  application/controllers/api/v1/stat/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed unnecesary position handling for lead/co/recruit when updating a user
  worker/lib/user/update.ex
Due: worker-format, worker-credo

[untested] Fixed set faction AA in user update
  worker/lib/user/update.ex
Due: worker-format, worker-credo

Changed user updating to use replace clause on conflict instead of set
  worker/lib/user/update.ex
Due: worker-format, worker-credo

Fixed initial value of the OC selector on the OC CPR page
  application/static/faction/crime-cpr.js
Due: application-js-format

Updated URLs of Torn pages migrated from loader.php to page.php
  application/static/stats/db.js
  application/templates/torn/usermodal.html
  celery/tornium_celery/tasks/faction.py
Due: application-js-format, celery-lint, celery-autoformat, celery-isort

[infra] Changed `tornium-celery-exporter` to start with `tornium-celery`
  infra/modules/tornium-celery.nix
Due: none

Fixed the storage of grants and response types when creating a new OAuth client
  application/controllers/developers/clients.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed extraneous logging
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed position faction ID accessor
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

[deps] Updated deps.nix
  worker/deps.nix
Due: none

Disabled logging on member join
  worker/lib/discord/event_consumer.ex
Due: worker-format, worker-credo

Added moduledoc for `Tornium.Discord.Consumer`
  worker/lib/discord/event_consumer.ex
Due: worker-format, worker-credo

[indev] Added user struct creation from API data
  worker/lib/user/key.ex
  worker/lib/user/key_store.ex
  worker/lib/user/schema/user.ex
  worker/lib/user/update.ex
  worker/lib/user/user.ex
  worker/mix.lock
Due: worker-format, worker-credo

Added export option to `table-viewer` component and support to the armory usage and cumulative usage API endpoints
  application/controllers/api/v1/faction/armory.py
  application/controllers/api/v1/utils.py
  application/static/components/table-viewer.js
  application/static/global/api.js
  application/templates/faction/armory.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

[chore] Removed extraneous logging
  application/static/global/api.js
Due: application-js-format

Added disabled state to export button of `table-viewer`
  application/static/components/table-viewer.js
Due: application-js-format

Changed `schedule_faction_update/1` to also accept a faction ID
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

[untested] Fixed incorrect faction updates when a user with an API key changes factions
  worker/lib/workers/faction_update.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Fixed padding for "Active Bankers" card on `/faction/banking`
  application/templates/faction/banking.html
Due: none

[untested] Fixed input mode for banking amount input on mobile devices
  application/templates/faction/banking.html
Due: none

Changed input mode for banking amount input to use `text` for mobile
  application/templates/faction/banking.html
Due: none

Updated toast messages on the bot verification page
  application/static/bot/verify.js
Due: application-js-format

Changed `Tornium.WOrkers.FactionUpdateScheduler` to perform nonpublic updates to factions where there are no AA members but there is a signed in faction leader/coleader
  worker/lib/user/key.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

[userscript] Updated loading of optimal crime data as the page is navigated
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/entrypoint.js
  userscripts/tornium-crimes/settings.js
Due: userscript-format

[indev] Started updating the UI
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/crimes.py
  application/controllers/api/v1/faction/crimes.py
  application/static/bot/oc.js
  application/templates/bot/oc.html
  worker/lib/guild/schema/server_oc_range_config.ex
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, worker-format, worker-credo

Fixed a573ad89 when there is no API key for the leader
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Added missing template verification when setting the template
  application/controllers/api/v1/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added missing `:battlescore` field when mapping stats data for the user schema
  worker/lib/user/schema/user.ex
Due: worker-format, worker-credo

Added user upserting and inserted faction if it does not exist
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Fixed user update in verification
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Implemented `update/2`
  worker/lib/user/user.ex
Due: worker-format, worker-credo

Fixed race condition when ensuring a faction exists in the database
  worker/lib/user/user.ex
Due: worker-format, worker-credo
