Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[untested] Test fix for missing API key error on `/verify`
  application/skynet/skyutils.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Minor performance improvements on slash commands by short-circuiting before and after request functions
  application/app.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[untested] Added `@with_deferred_response` decorator for slash commands
  application/skynet/__init__.py
  application/skynet/decorators.py
  celery/tornium_celery/tasks/api.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Added `@with_deferred_response` to `/ping`
  application/skynet/commands/__init__.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/skynet/decorators.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed 21af8c85
  application/skynet/decorators.py
  celery/tornium_celery/tasks/api.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Added `@with_deferred_response` to `/withdraw`
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed dependence upon `discorddelete` from `Withdrawal.new`
  application/controllers/api/v1/faction/banking.py
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Fixed armory parsing for filling blood bags
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

[docs] Fixed link to the `tornium-estimate` userscript reference
  docs/src/tutorial/tornium-estimate.md
Due: none

Release tornium-estimate v0.5.6
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

[untested] Added basic ChainMonitor GenServer
  worker/lib/application.ex
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/faction/chain_monitor/discovery.ex
  worker/lib/faction/chain_monitor/state.ex
  worker/lib/faction/chain_monitor/supervisor.ex
  worker/lib/faction/faction.ex
  worker/lib/faction/schema/chain.ex
  worker/lib/guild/schema/server_attack_config.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Updated docs
  worker/lib/faction/chain_monitor/discovery.ex
  worker/lib/faction/chain_monitor/supervisor.ex
Due: worker-format, worker-credo

Fixed bugs in the ChainMonitor
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/faction/chain_monitor/state.ex
  worker/lib/faction/chain_monitor/supervisor.ex
  worker/lib/guild/schema/server_attack_config.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/faction/chain_monitor/supervisor.ex
Due: worker-format, worker-credo

[deps] Updated tornex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Added basic tests
  worker/config/test.exs
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/faction/chain_monitor/state.ex
  worker/test/faction/chain_monitor_test.exs
Due: worker-format, worker-credo

[untested] Added ChainMonitor (#415)
  worker/lib/application.ex
  worker/lib/faction/chain_monitor/chain_monitor.ex
  worker/lib/faction/chain_monitor/discovery.ex
  worker/lib/faction/chain_monitor/state.ex
  worker/lib/faction/chain_monitor/supervisor.ex
  worker/lib/faction/faction.ex
  worker/lib/faction/schema/chain.ex
  worker/lib/guild/schema/server_attack_config.ex
  worker/mix.exs
  worker/test/faction/chain_monitor_test.exs
Due: worker-format, worker-credo

[deps] Updated deps.nix
  worker/deps.nix
Due: none

Fixed bugs in ChainMonitor
  worker/lib/faction/chain_monitor/chain_monitor.ex
Due: worker-format, worker-credo

Updated `FactionPosition` schema and added migration
  worker/lib/faction/schema/faction_position.ex
  worker/priv/repo/migrations/20260425192848_migrate_faction_positions.exs
Due: worker-format, worker-credo

Updated usage of `FactionPosition` and refactore `Tornium.User`
  worker/lib/user/update.ex
  worker/test/guild/verify/logic_test.exs
Due: worker-format, worker-credo

Added `FactionPosition` mapping and upserting
  worker/lib/faction/schema/faction_position.ex
Due: worker-format, worker-credo

Added toggle for using users' API keys for collecting public data
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/user_settings/__init__.py
  application/static/settings/settings.js
  application/templates/settings/settings.html
  commons/tornium_commons/models/user_settings.py
  worker/lib/user/schema/user_settings.ex
  worker/priv/repo/migrations/20260425210435_add_public_data_usage_toggle.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[docs] Updated the data use and storage policy to explain usage toggles and change the usage of API keys to collect public, general Torn data
  docs/src/data-use-storage.md
Due: none

[indev] Added faction update scheduler
  worker/lib/user/key.ex
  worker/lib/user/schema/torn_key.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

[untested] Added faction data, member, and position data updating
  worker/lib/faction/schema/faction.ex
  worker/lib/faction/schema/faction_position.ex
  worker/lib/user/schema/user.ex
  worker/lib/user/update.ex
  worker/lib/workers/faction_update.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

[infra] Fixed deployment of tornium_oc_graph
  application/controllers/api/v1/faction/crimes.py
  commons/package.nix
  commons/pyproject.toml
  commons/tornium_commons/models/organized_crime.py
  infra/flake.lock
  infra/flake.nix
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-celery.nix
  infra/modules/tornium-oc-graph.nix
  infra/modules/tornium-web.nix
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[infra] Fixed Gunicorn proxy errors
  infra/modules/tornium-web.nix
Due: none

Fixed insertion/updating issues
  worker/config/config.exs
  worker/lib/faction/schema/faction.ex
  worker/lib/faction/schema/faction_position.ex
  worker/lib/user/schema/user.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20260426202859_faction_position_fk.exs
Due: worker-format, worker-credo

[test] Added tests for `Tornium.Schema.FactionPosition` and fixed minor bugs
  worker/lib/faction/schema/faction_position.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/test/faction/position_test.exs
Due: worker-format, worker-credo

Fixed `Tornium.Schema.Faction.upsert/1` not checking that the leader and coleader exist for the FK before upserting faction basic data
  worker/lib/faction/schema/faction.ex
  worker/lib/user/schema/user.ex
Due: worker-format, worker-credo

Added insertion of Leader, Co-leader, and Recruit to the `Tornium.Schema.FactionPosition` table
  worker/lib/faction/schema/faction_position.ex
  worker/test/faction/position_test.exs
Due: worker-format, worker-credo

Updated python `FactionPosition` model
  application/controllers/faction/banking.py
  celery/tornium_celery/tasks/guild.py
  celery/tornium_celery/tasks/user.py
  commons/tornium_commons/models/faction.py
  commons/tornium_commons/models/faction_position.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Removed old faction update Celery tasks
  application/controllers/torn/factions.py
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/faction.py
  celery/tornium_celery/tasks/user.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

Fixed misc bugs
  commons/tornium_commons/models/faction_position.py
  worker/lib/user/update.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/test/faction/position_test.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed bugs
  application/controllers/api/v1/faction/positions.py
  commons/tornium_commons/models/faction.py
  commons/tornium_commons/models/user.py
  worker/priv/repo/migrations/20260501213954_add_nullable_user_name.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed faction positions in user updating
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

[test] Added integration tests for faction updates
  worker/lib/faction/schema/faction_position.ex
  worker/lib/workers/faction_update.ex
  worker/test/faction/update_test.exs
Due: worker-format, worker-credo

Updated `TornKey.random_key` to follow updated data use policy and only use API keys of users who have enabled the "Share public data" toggle
  celery/tornium_celery/tasks/items.py
  commons/tornium_commons/models/torn_key.py
Due: celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
