Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Added makefile for the Elixir worker
  worker/Makefile
  worker/lib/tornium/release.ex
Due: worker-format, worker-credo

Fixed pg issues
  infra/modules/postgresql-replica.nix
Due: none

Added static page search
  application/static/components/page-search.js
  application/static/styles/components/page-search.css
  application/static/styles/components/page-search.css.map
  application/static/styles/components/page-search.scss
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/styles.scss
  application/templates/base.html
  application/templates/search-pages.html
Due: application-js-format, application-sass

Added the end date of a user's federal jailing to the user model
  celery/tornium_celery/tasks/faction.py
  celery/tornium_celery/tasks/user.py
  commons/tornium_commons/models/user.py
  worker/lib/user/schema/user.ex
  worker/lib/user/update.ex
  worker/priv/repo/migrations/20260217201622_add_user_fedded_until.exs
  worker/test/user/update_test.exs
Due: celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Increased timeout of `auto_cancel_requests`
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added an exclusion for fedded and fallen members from notifications from the `OCMissingMemberNotifications` worker
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed styling of typespec and docs in `Tornium.Discord`
  worker/lib/discord/discord.ex
Due: worker-format, worker-credo

Added chunking of messages to `OCMissingMemberNotifications` to reduce Discord API calls
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed 85703c8b
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

[chore] Fixed unused variables
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed `Tornium.Discord.send_messages/2` when there were no messages to send
  worker/lib/discord/discord.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed modifying users during verification when only the role or nickname changes
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Changed the `OCMissingMemberNotifications` worker to send Discord messages synchronously
  worker/lib/discord/discord.ex
  worker/lib/workers/oc_missing_member_notifications.ex
Due: worker-format, worker-credo

Fixed handling of `all` in the banking API endpoint
  application/controllers/api/v1/faction/banking.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Reformat
  application/controllers/developers/clients.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Removed old release file
  worker/lib/release.ex
Due: worker-format, worker-credo

[chore] Added dialzyer
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed incorrect capitalizataion of faction name in OC notifications
  worker/lib/faction/oc/render.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/mix.exs
Due: worker-format, worker-credo

[indev] Added basic API endpoint and basis for userscript
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  application/controllers/developers/clients.py
  application/pyproject.toml
  application/static/developers/client.js
  commons/pyproject.toml
  commons/tornium_commons/models/organized_crime.py
  userscripts/shared/api.js
  userscripts/shared/cache.js
  userscripts/shared/config.js
  userscripts/shared/dom.js
  userscripts/shared/logging.js
  userscripts/shared/oauth.js
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/Makefile
  userscripts/tornium-crimes/api.js
  userscripts/tornium-crimes/cache.js
  userscripts/tornium-crimes/config.js
  userscripts/tornium-crimes/constants.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/dom.js
  userscripts/tornium-crimes/entrypoint.js
  userscripts/tornium-crimes/header.js
  userscripts/tornium-crimes/logging.js
  userscripts/tornium-crimes/oauth.js
  userscripts/tornium-crimes/settings.js
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, userscript-format

Removed requirement for `Brain Surgeon` from revivable slash commands
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed usage of deprecated CPR of OCs in `recruiting` status in `Tornium.WOrkers.OCCPRUpdate`
  worker/lib/workers/oc_cpr_update.ex
  worker/lib/workers/oc_cpr_update_scheduler.ex
  worker/mix.lock
Due: worker-format, worker-credo

Updated Elixir makefile to add tests
  worker/Makefile
Due: none

[legal] Updated data use policy for 3c0b3be1
  docs/src/data-use-storage.md
Due: none

Updated old Discord OAuth links for Torn's old George bot with new links for the new bot
  application/skynet/commands/bot/verify.py
  worker/lib/guild/verify/message.ex
Due: application-lint, application-autoformat, application-isort, application-bandit, worker-format, worker-credo

Added some injection of optimum OC elements
  userscripts/shared/api.js
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/entrypoint.js
Due: userscript-format

Fixed userscript
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/entrypoint.js
Due: userscript-format

Added % change calculations
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated slot handling
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/crime-page.js
Due: userscript-format

Fixed symlinks
  userscripts/tornium-crimes/api.js
  userscripts/tornium-crimes/cache.js
  userscripts/tornium-crimes/config.js
  userscripts/tornium-crimes/dom.js
  userscripts/tornium-crimes/logging.js
  userscripts/tornium-crimes/oauth.js
Due: userscript-format

[indev] Added OC userscript with OC slot comparison (#393)
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
  application/pyproject.toml
  application/static/developers/client.js
  commons/pyproject.toml
  commons/tornium_commons/models/organized_crime.py
  userscripts/shared/api.js
  userscripts/shared/cache.js
  userscripts/shared/config.js
  userscripts/shared/dom.js
  userscripts/shared/logging.js
  userscripts/shared/oauth.js
  userscripts/tornium-crimes.user.js
  userscripts/tornium-crimes/Makefile
  userscripts/tornium-crimes/api.js
  userscripts/tornium-crimes/cache.js
  userscripts/tornium-crimes/config.js
  userscripts/tornium-crimes/constants.js
  userscripts/tornium-crimes/crime-page.js
  userscripts/tornium-crimes/dom.js
  userscripts/tornium-crimes/entrypoint.js
  userscripts/tornium-crimes/header.js
  userscripts/tornium-crimes/logging.js
  userscripts/tornium-crimes/oauth.js
  userscripts/tornium-crimes/settings.js
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, userscript-format

Test fix for prod
  commons/tornium_commons/models/organized_crime.py
Due: commons-lint, commons-autoformat, commons-isort

Test fix for prod
  commons/pyproject.toml
Due: none

Fixed `DivisionByZeroError`
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added handling of `KeyError` with `tornium_oc_graph` doesn't support the OC type yet
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Optimized DB queries
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

bug fix
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit
