Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

Removed unused `require Logger` statements
  worker/lib/discord/event_consumer.ex
  worker/lib/faction/schema/organized_crime.ex
  worker/lib/workers/notification.ex
  worker/lib/workers/oauth_revocation.ex
  worker/lib/workers/oc_update_scheduler.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/faction/schema/organized_crime.ex
Due: worker-format, worker-credo

Fixed roles equality check when validating the verification changeset and fixed the logging to not log when no changes were made
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Increased max chunk size of `FactionUpdateScheduler` and a where clause to ensure that low priority factions are not updated if they were updated recently
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Added support to `Tornium.Workers.FactionUpdate` to perform the API call and update the faction data when the job is inserted from outside of Elixir
  worker/lib/workers/faction_update.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: worker-format, worker-credo

Added usage of `Tornium.Workers.FactionUpdate` to get faction positions (and other faction data) when a user is signing in with AA perms and there are no other AA users from that faction
  celery/tornium_celery/tasks/user.py
  worker/lib/workers/faction_update.ex
  worker/lib/workers/faction_update_scheduler.ex
Due: celery-lint, celery-autoformat, celery-isort, worker-format, worker-credo

Fixed `GuildMemberVerification` not handling users that are not verified
  worker/lib/guild/verify/verify.ex
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

Added Oban worker to send log messages to Discord for verification logs
  worker/config/config.exs
  worker/lib/guild/verify/verify.ex
  worker/lib/workers/verification_discord_notifications.ex
Due: worker-format, worker-credo

Added verification of members from external insertion
  worker/lib/guild/verify/message.ex
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

Changed `Tornium.Guild.Verify.Message` to use existing Discord colors
  worker/lib/guild/verify/message.ex
Due: worker-format, worker-credo

Added support for external deferred slash command responses to `@with_deferred_response`
  application/skynet/decorators.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed `/verify` and the verify user command to use the `Tornium.Workers.GuildMemberVerification` Oban worker
  application/skynet/commands/bot/verify.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed verification code from the Celery worker
  application/controllers/api/v1/bot/verify.py
  celery/tests/__init__.py
  celery/tests/guild/test_verify.py
  celery/tornium_celery/celery_app.py
  celery/tornium_celery/tasks/guild.py
Due: application-lint, application-autoformat, application-isort, application-bandit, celery-lint, celery-autoformat, celery-isort

[infra] [untested] Moved `python-liquid` dependency to the application's Nix package
  application/package.nix
  application/python-liquid.nix
  celery/package.nix
  celery/pyproject.toml
Due: none

Changed `DailyVerificationScheduler` to have a 30 second delay between servers
  worker/lib/workers/daily_verification_scheduler.ex
Due: worker-format, worker-credo

[infra] Fixed `python-liquid` dependency in nix modules
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-celery.nix
  infra/modules/tornium-web.nix
Due: none

Removed `force` parameter from `/verify`
  application/commands/bot/verify/verify.json
  application/skynet/commands/faction/balance.py
  docs/src/reference/bot-verification.md
  worker/lib/guild/verify/message.ex
Due: application-lint, application-autoformat, application-isort, application-bandit, worker-format, worker-credo

Fixed `Tornium.Guild.Verify.Message.message/2` when the `verification_result` is an `:error`
  worker/lib/guild/verify/message.ex
Due: worker-format, worker-credo

Added cron job for `Tornium.Workers.DailyVerificationScheduler`
  worker/config/config.exs
Due: worker-format, worker-credo

[deps] Added missing `python-liquid` dependency to the application's `pyproject.toml`
  application/pyproject.toml
Due: none

Fixed b311fbe8
  worker/lib/guild/verify/message.ex
Due: worker-format, worker-credo

Fixed various verification bugs
  application/skynet/commands/bot/verify.py
  worker/lib/guild/verify/message.ex
  worker/lib/workers/guild_member_verification.ex
  worker/lib/workers/guild_verification.ex
Due: application-lint, application-autoformat, application-isort, application-bandit, worker-format, worker-credo

[deps] Bumped various deps to resolve CVEs
  worker/deps.nix
  worker/mix.lock
Due: none

Fixed verification log viewer when the user in the log was not known
  application/static/bot/verify-logs.js
Due: application-js-format

Added OC and OC slot type data to the database
  worker/config/config.exs
  worker/lib/faction/schema/organized_crime.ex
  worker/lib/faction/schema/organized_crime_slot_type.ex
  worker/lib/faction/schema/organized_crime_type.ex
  worker/lib/workers/oc_type_update.ex
  worker/priv/repo/migrations/20260707172545_add_oc_type.exs
  worker/test/faction/oc_type_test.exs
Due: worker-format, worker-credo

Bug fix
  application/static/bot/verify-logs.js
Due: application-js-format

Changed Elixir worker to use PG notifier for Oban on prod
  worker/config/config.exs
  worker/config/prod.exs
Due: worker-format, worker-credo

Fixed verification when a discord ID belongs to more to more than one user
  worker/lib/guild/verify/verify.ex
Due: worker-format, worker-credo

Fixed verification message for unverifiered users
  worker/lib/guild/verify/message.ex
Due: worker-format, worker-credo

Added timeout and async followup message to `GuildMemberVerification`
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

[deps] Bumped tornex version (fix for attempting to dump buckets that are shutdown)
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[deps] Bumped vrious deps
  worker/deps.nix
  worker/mix.lock
Due: none

[untested] Fixed verification from a slash command when API call response is an error
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

[untested] More verification slash command fixes
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/workers/guild_member_verification.ex
Due: worker-format, worker-credo

[untested] Changed `/faction members revivable` to group members of your faction that can be revived
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed a45247c9
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added OC and OC slot type data to the database
  worker/config/config.exs
  worker/lib/faction/schema/organized_crime_slot_type.ex
  worker/lib/faction/schema/organized_crime_type.ex
  worker/lib/workers/oc_type_update.ex
  worker/priv/repo/migrations/20260707172545_add_oc_type.exs
  worker/test/faction/oc_type_test.exs
Due: worker-format, worker-credo
