Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

[deps] Updated tornex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Apply suggestions from code review
  worker/lib/api/store.ex
  worker/lib/api/supervisor.ex
  worker/lib/application.ex
Due: worker-format, worker-credo

Added clustering of the Elixir worker across multiple nodes (#439)
  worker/Makefile
  worker/config/dev.exs
  worker/config/prod.exs
  worker/lib/api/error.ex
  worker/lib/api/store.ex
  worker/lib/api/supervisor.ex
  worker/lib/application.ex
  worker/lib/utils/api_store.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/user_update.ex
  worker/lib/workers/user_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[deps] Updated dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

Fixed compile-time bugs
  worker/lib/api/store.ex
  worker/lib/application.ex
Due: worker-format, worker-credo

[infra] Added clustering of Elixir nodes across `tornium-primary` and `tornium-proxy-db`
  infra/hive.nix
  infra/hosts/primary.nix
  infra/hosts/proxy-db.nix
  infra/modules/postgresql.nix
  infra/modules/prometheus.nix
  infra/modules/tornium-celery-beat.nix
  infra/modules/tornium-web.nix
  infra/modules/tornium-worker.nix
  worker/config/prod.exs
  worker/deps.nix
  worker/lib/application.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed `upsert_members/3` on factions that were destroyed
  worker/lib/faction/schema/faction.ex
Due: worker-format, worker-credo

Removed alpha tag from the chain list generator
  application/templates/stats/chain.html
Due: none

Changed the application supervisor to have a minimal list of children in the `:test` environment
  worker/lib/application.ex
Due: worker-format, worker-credo

Changed OC-related functionality to use `Tornex.SpecQuery` and the Torngen client and changed the Oban workers to use the API store
  worker/lib/faction/oc/oc.ex
  worker/lib/workers/oc_update.ex
  worker/lib/workers/oc_update_scheduler.ex
  worker/test/faction/oc/parser_test.exs
Due: worker-format, worker-credo

Disabled `tasks.user.refresh_users` celery cron
  celery/tornium_celery/celery_app.py
Due: celery-lint, celery-autoformat, celery-isort

[deps] Bumped dependencies
  worker/deps.nix
  worker/mix.lock
Due: none

[untested] Fixed issues with fetching API keys of server admins during interactions
  application/skynet/skyutils.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Changed oban to always use warning logging level instead of just on prod
  worker/lib/application.ex
Due: worker-format, worker-credo

[deps] Bumped torngen_elixir_client to fix OC required item bug
  worker/deps.nix
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Fixed incorrect field name for faction_id in the Python `FactionPosition` schema
  commons/tornium_commons/models/faction_position.py
Due: commons-lint, commons-autoformat, commons-isort

Added handling of API error code 7 (user inactivity) to `UserUpdate`
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Bug fix
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Updated 2c2e1b8 to also handle fedded users
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Added deletion of API keys that no longer exist to `UserUpdate`
  worker/lib/workers/user_update.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Changed retal embed to use stat range instead of stat score
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed return value of `UserUpdate.perform/1`
  worker/lib/workers/user_update.ex
Due: worker-format, worker-credo

Fixed ordering of stats for stat score in retal embed
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

[untested] Test fix for `Tornium.Item.NameCache` silently dying without its supervisor restarting it
  worker/lib/item/name_cache.ex
Due: worker-format, worker-credo

[untested] Fixed factions having an incorrect OC migration status
  worker/lib/workers/oc_migration_check.ex
Due: worker-format, worker-credo

Added verification workers and cleaned up `Tornium.Guild.Verify`
  worker/config/config.exs
  worker/lib/guild/verify/verify.ex
  worker/lib/user/user.ex
  worker/lib/workers/daily_verification_scheduler.ex
  worker/lib/workers/guild_member_verification.ex
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

Fixed faction tag when rendering nickname for users not in a faction
  docs/src/reference/bot-verification.md
  worker/lib/guild/verify/logic.ex
Due: worker-format, worker-credo

[untested] Fixed stats not always showing when data is available in the retal embed
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed `Tornium.Workers.OCMigrationCheck` failing to perform the API call due to an invalid resource string
  worker/lib/workers/oc_migration_check.ex
Due: worker-format, worker-credo

[deps] Updated finch and floki
  worker/deps.nix
  worker/mix.lock
Due: none

[test] Added some missing tests
  worker/test/guild/verify/logic_test.exs
Due: worker-format, worker-credo

[indev] Added basic telemetry for verification
  worker/lib/application.ex
  worker/lib/guild/schema/verification_log.ex
  worker/lib/guild/verify/verify.ex
  worker/lib/query_helpers.ex
  worker/lib/telemetry/telemetry.ex
  worker/lib/telemetry/verification_logs.ex
  worker/lib/workers/guild_verification.ex
  worker/priv/repo/migrations/20260627165852_add_verification_logs.exs
  worker/test/guild/verify/log_test.exs
  worker/test/query_helpers_test.exs
  worker/test/telemetry/verification_logs_test.exs
Due: worker-format, worker-credo

Added `tornium:guild:verify:failure` telemetry
  worker/lib/guild/verify/verify.ex
  worker/lib/telemetry/telemetry.ex
  worker/lib/telemetry/verification_logs.ex
Due: worker-format, worker-credo

Fixed verification logic for users not in a factin
  worker/lib/guild/verify/logic.ex
Due: worker-format, worker-credo

Fixed telemetry logging
  worker/lib/application.ex
  worker/lib/guild/schema/verification_log.ex
  worker/lib/guild/verify/verify.ex
  worker/lib/telemetry/telemetry.ex
Due: worker-format, worker-credo

[deps] bumped nostrum
  worker/mix.lock
Due: none

Updated previous config error telemetry
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

Fixed styling of exclusion roles selector
  application/templates/bot/verify.html
Due: none

Added python model for `VerificationLog`
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/verification_log.py
Due: commons-lint, commons-autoformat, commons-isort

[indev] Added basic template for verification logs
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/verify.py
  application/controllers/bot/__init__.py
  application/controllers/bot/verify.py
  application/static/bot/verify-logs.js
  application/templates/bot/verify-logs.html
  application/templates/bot/verify.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
