Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

.lefthook.yaml:

pre-commit:
    parallel: true
    commands:
        application-lint:
            root: "application/"
            glob: "*.py"
            run: "flake8 ."
        application-autoformat:
            root: "application/"
            glob: "*.py"
            run: "black --check ."
        application-isort:
            root: "application/"
            glob: "*.py"
            run: "isort ."
        application-bandit:
            root: "application/"
            glob: "*.py"
            run: "bandit -r -x __pycache__,./venv,./tests -c pyproject.toml ."
        application-js-format:
            root: "application/static/"
            glob: "*.js"
            run: "biome format ."
        application-sass:
            root: "application/static/styles/"
            glob: "*.scss"
            run: "sass . && cd .. && biome format styles/ --write |&> /dev/null"
        celery-lint:
            root: "celery/"
            glob: "*.py"
            run: "flake8 ."
        celery-autoformat:
            root: "celery/"
            glob: "*.py"
            run: "black --check ."
        celery-isort:
            root: "celery/"
            glob: "*.py"
            run: "isort ."
        commons-lint:
            root: "commons/"
            glob: "*.py"
            run: "flake8 ."
        commons-autoformat:
            root: "commons/"
            glob: "*.py"
            run: "black --check ."
        commons-isort:
            root: "commons/"
            glob: "*.py"
            run: "isort ."
        worker-format:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix format"
        worker-credo:
            root: "worker/"
            glob: "*.{ex,exs}"
            run: "mix credo diff"
        userscript-format:
            root: "userscripts/"
            glob: "*.js"
            run: "biome format ."

[docs] Suggest giving bots an exclusion role to avoid verifying them
  docs/src/tutorial/discord-server-verification.md
Due: none

Updated schema for server_oc_range_config and added migration
  commons/tornium_commons/models/organized_crime_slot_type.py
  commons/tornium_commons/models/organized_crime_type.py
  worker/lib/guild/schema/server_oc_range_config.ex
  worker/priv/repo/migrations/20260709195224_add_oc_range_config.exs
Due: commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

[chore] Reformat
  commons/tornium_commons/models/organized_crime_type.py
Due: commons-lint, commons-autoformat, commons-isort

Added new OC type info models to the models/__init__.py
  commons/tornium_commons/models/__init__.py
Due: commons-lint, commons-autoformat, commons-isort

Changed some API endpoints to use new OC type schemas
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated API endpoint to set local CPR ranges
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/crimes.py
  application/controllers/api/v1/faction/crimes.py
  application/controllers/bot/oc.py
  application/static/bot/oc.js
  commons/tornium_commons/models/server_oc_range_config.py
  worker/lib/guild/schema/server_oc_config.ex
  worker/lib/guild/schema/server_oc_range_config.ex
  worker/priv/repo/migrations/20260709195224_add_oc_range_config.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Test fix for faction positions not being inserted upon first login
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Reduced expiration interval of group of celery tasks for faction attacks to try to reduce extraneous chain watch pings
  celery/tornium_celery/tasks/faction.py
Due: celery-lint, celery-autoformat, celery-isort

Added warnings about accessing other users' accounts
  application/templates/login.html
  application/templates/settings/settings.html
Due: none

[untested] Added `faction-inactivity` notification trigger
  notifications/faction-inactivity/README.md
  notifications/faction-inactivity/code.lua
  notifications/faction-inactivity/config.toml
  notifications/faction-inactivity/message.liquid
  notifications/faction-inactivity/test.exs
Due: none

Added API endpoint for fetching CPR ranges for your faction
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Removed uniqueness clause of scheduling oban jobs
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/lib/workers/daily_verification_scheduler.ex
  worker/lib/workers/faction_update_scheduler.ex
  worker/lib/workers/notification_scheduler.ex
  worker/lib/workers/oc_cpr_update_scheduler.ex
  worker/lib/workers/oc_update_scheduler.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/lib/workers/user_update_scheduler.ex
Due: worker-format, worker-credo

Fixed not revivable count in `/faction members revivable`
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added the existing OC slot ranges to the UI
  application/controllers/api/v1/faction/crimes.py
  application/static/bot/oc.js
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format

Updated `change_range/2` to use per-slot CPR ranges
  worker/lib/faction/schema/organized_crime_slot_type.ex
  worker/lib/guild/schema/server_oc_config.ex
Due: worker-format, worker-credo

Fixed usage of `chance_range/2`
  worker/lib/faction/oc/check/check.ex
  worker/lib/faction/oc/render.ex
Due: worker-format, worker-credo

Changed `OCUpdate` to force update the `has_migrated_oc` flag when the worker has been run for factions that haven't migrated to OCs 2.0 yet
  worker/lib/workers/oc_update.ex
Due: worker-format, worker-credo

[chore] Cleaned up `OCMigrationCheck`
  worker/lib/workers/oc_migration_check.ex
Due: worker-format, worker-credo

[untested] Fixed verifaction of members with exclusion roles during the guild verification process
  worker/lib/guild/verify/verify.ex
  worker/lib/workers/guild_member_verification.ex
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

Updated data collection description on OC CPR page
  application/templates/faction/crime_cpr.html
Due: none

[deps] Bumped deps
  worker/deps.nix
  worker/mix.lock
Due: none

[indev] Added docs and tests
  worker/lib/faction/schema/organized_crime_slot.ex
  worker/lib/faction/schema/organized_crime_slot_type.ex
  worker/lib/guild/schema/server_oc_config.ex
  worker/test/faction/oc/checks_test.exs
Due: worker-format, worker-credo

Changed CPR range endpoint to allow fetching CPR ranges for other factions in a linked Discord server when the user is an admin in the server
  application/controllers/api/v1/decorators.py
  application/controllers/api/v1/faction/crimes.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed `change_range/2` when either the local minimum or local maximum are not set to fallback to the global min/max
  worker/lib/faction/schema/organized_crime_slot.ex
  worker/lib/guild/schema/server_oc_config.ex
Due: worker-format, worker-credo

[deps] Bumped torngen_elixir_client to fix incorrect parsing of users in OC slots where the required item was unused
  worker/deps.nix
  worker/mix.lock
Due: none

[deps] Bumped nostrum fork version for prod testing
  worker/deps.nix
  worker/mix.lock
Due: none

Added fallback to guild verification scheduler for servers that have no admins to prevent errors when it failed to match with the function head during verification scheduling
  worker/lib/workers/daily_verification_scheduler.ex
  worker/lib/workers/guild_verification.ex
Due: worker-format, worker-credo

[deps] Bumped nostrum fork version
  worker/deps.nix
  worker/mix.lock
Due: none

[notification] Fixed the `faction-traveling` notification trigger after traveling 2.0 changes to the status strings
  notifications/faction-traveling/code.lua
  notifications/faction-traveling/test.exs
Due: none

[notification] Changed travel times in `faction-traveling` notification trigger for patch 438
  notifications/faction-traveling/code.lua
Due: none

Added scaffolding for setting and storing `ts_stats_enabled`
  application/controllers/__init__.py
  application/controllers/faction/__init__.py
  application/controllers/faction/config.py
  application/static/faction/config.js
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/config.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/index.html
  application/templates/faction/members.html
  application/templates/faction/overdose.html
  application/templates/search-pages.html
  commons/tornium_commons/models/faction_config.py
  docs/src/data-use-storage.md
  worker/lib/faction/schema/faction.ex
  worker/lib/faction/schema/faction_config.ex
  worker/priv/repo/migrations/20260724225155_add_faction_config.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Added faction config toggling
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/faction/__init__.py
  application/controllers/api/v1/faction/config.py
  application/controllers/faction/config.py
  application/templates/faction/config.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/faction_config.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

[indev] Added framework for server updates
  worker/lib/discord/discord.ex
  worker/lib/guild/schema/server.ex
  worker/lib/workers/server_refresh.ex
  worker/lib/workers/server_refresh_scheduler.ex
Due: worker-format, worker-credo

Release tornium-estimate v0.5.7
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/cache.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Fixed caching of Tornium API calls
  userscripts/shared/cache.js
Due: userscript-format

Added base models for events
  worker/lib/event/schema/chain_event.ex
  worker/lib/event/schema/custom_faction_event.ex
  worker/lib/event/schema/custom_user_event.ex
  worker/lib/event/schema/rw_event.ex
  worker/lib/event/schema/steadfast_event.ex
  worker/lib/event/schema/torn_event.ex
  worker/priv/repo/migrations/20260726011513_add_events.exs
Due: worker-format, worker-credo

Changed `/faction` endpoints to use a template for the subnav
  application/templates/faction/armory.html
  application/templates/faction/banking.html
  application/templates/faction/banking_aa.html
  application/templates/faction/bot.html
  application/templates/faction/crime_cpr.html
  application/templates/faction/index.html
  application/templates/faction/members.html
  application/templates/faction/overdose.html
  application/templates/faction/subnav.html
Due: none

Added python models for event schemas
  commons/tornium_commons/models/chain_event.py
  commons/tornium_commons/models/rw_event.py
  commons/tornium_commons/models/steadfast_event.py
  commons/tornium_commons/models/torn_event.py
Due: commons-lint, commons-autoformat, commons-isort
