Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

Added verification configuration of elimination teams
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/verify.py
  application/controllers/api/v1/utils.py
  application/controllers/bot/verify.py
  application/static/bot/verify.js
  application/static/global/utils.js
  application/templates/bot/verify.html
  commons/tornium_commons/models/__init__.py
  commons/tornium_commons/models/server_verification_elimination_config.py
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort

[indev] Added initial user competition updating against a server
  worker/lib/elimination/elimination.ex
  worker/lib/user/key.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

Finished user elimination updates
  worker/lib/elimination/elimination.ex
Due: worker-format, worker-credo

[chore] reformat
  worker/lib/elimination/elimination.ex
Due: worker-format, worker-credo

Misc bug fixes
  worker/lib/elimination/elimination.ex
Due: worker-format, worker-credo

Release tornium-estimate v0.5.2
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Added verification for elimination teams
  worker/lib/guild/schema/server.ex
  worker/lib/guild/schema/server_verification_elimination_config.ex
  worker/lib/guild/verify/config.ex
  worker/lib/guild/verify/logic.ex
  worker/lib/guild/verify/verify.ex
  worker/lib/user/schema/user.ex
  worker/test/guild/verify/config_test.exs
Due: worker-format, worker-credo

Added oban module to commons
  commons/tornium_commons/oban.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed crontab for the competition update worker
  worker/config/config.exs
Due: worker-format, worker-credo

Added a temporary oban worker for verification
  worker/config/config.exs
  worker/lib/guild/verify/config.ex
  worker/lib/guild/verify/verify.ex
  worker/lib/workers/verify_member.ex
Due: worker-format, worker-credo

[untested] Change the `/verify` and verify uc to use the elixir worker
  application/skynet/commands/bot/verify.py
  worker/config/runtime.exs
  worker/lib/workers/verify_member.ex
Due: application-lint, application-autoformat, application-isort, application-bandit, worker-format, worker-credo

Release tornium-estimate v0.5.3
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Release tornium-estimate v0.5.4
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Fixed error message on `/faction members revivable` and `/faction members revivable-ping` when there is no API key with revives unlocked to use
  application/skynet/commands/faction/faction.py
Due: application-lint, application-autoformat, application-isort, application-bandit

[chore] Bump version
  userscripts/tornium-estimate/header.js
Due: userscript-format

Fixed namespacing of configuration items for `GM_setValue`
  userscripts/tornium-estimate/config.js
Due: userscript-format

Added blacklist to website configuration
  application/app.py
  commons/tornium_commons/config.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Added a `<datetime-input` component and finished the armory logs viewer
  application/controllers/api/v1/faction/armory.py
  application/static/components/datetime-input.js
  application/static/components/table-viewer.js
  application/static/faction/armory.js
  application/static/styles/base/base.css.map
  application/static/styles/base/base.scss
  application/static/styles/components/datetime.css
  application/static/styles/components/datetime.css.map
  application/static/styles/components/datetime.scss
  application/static/styles/styles.css
  application/static/styles/styles.css.map
  application/static/styles/styles.scss
  application/templates/faction/armory.html
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass

Joined the count and pagintion queries for armory log querying into one query
  application/controllers/api/v1/faction/armory.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Fixed overdose daily report breaking on configurations where the channel is disabled
  worker/lib/workers/overdose_daily_report.ex
Due: worker-format, worker-credo

Fixed insertion of notification triggers in the git repo that don't use parameters
  application/utils/notification_trigger.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Updated the Lua notification backend
  worker/lib/lua.ex
  worker/lib/notification/lua.ex
  worker/lib/notification/lua_api.ex
  worker/lib/notification/notification.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[notification] Added `faction-self-hosp` notification
  notifications/faction-self-hosp/README.md
  notifications/faction-self-hosp/code.lua
  notifications/faction-self-hosp/config.toml
  notifications/faction-self-hosp/message.liquid
Due: none

Test fix for `tornium.get_discord_api` Lua API
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Test fix for `tornium.get_discord_id` API
  worker/lib/notification/lua.ex
  worker/lib/notification/lua_api.ex
Due: worker-format, worker-credo

Fixed pinging members in the faction-self-hosp notification
  notifications/faction-self-hosp/code.lua
  notifications/faction-self-hosp/message.liquid
Due: none

Updated handling of unstored API responses in `Tornium.API.Store`
  worker/lib/utils/api_store.ex
Due: worker-format, worker-credo

Fixed bug fetching Discord IDs already in the cache in `Tornium.User.DiscordStore`
  worker/lib/user/discord_store.ex
Due: worker-format, worker-credo

[chore] Bump version
  userscripts/tornium-estimate/constants.js
Due: userscript-format

Fixed deletion of access token when there's an OAuth error
  userscripts/tornium-estimate/api.js
Due: userscript-format

[chore] Cleaned up variables and comments
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/oauth.js
  userscripts/tornium-estimate/pages/faction-rw.js
Due: userscript-format

Fixed getting namespaced configuration values from 406a79ff
  userscripts/tornium-estimate/config.js
Due: userscript-format

Added support to the abroad people page
  userscripts/tornium-estimate.user.js
  userscripts/tornium-estimate/config.js
  userscripts/tornium-estimate/entrypoint.js
  userscripts/tornium-estimate/header.js
  userscripts/tornium-estimate/pages/people-abroad.js
Due: userscript-format

[chore] Reformat
  userscripts/tornium-estimate/pages/people-abroad.js
Due: userscript-format

[docs] Added abroad users support to the docs for tornium-estimate
  docs/src/images/tornium-estimate-abroad-users.png
  docs/src/reference/tornium-estimate.md
Due: none

Release tornium-estimate v0.5.5
  userscripts/tornium-estimate/constants.js
  userscripts/tornium-estimate/header.js
Due: userscript-format

Release tornium-estimate v0.5.5
  userscripts/tornium-estimate.user.js
Due: userscript-format

Fixed minor issues in updating API keys
  celery/tornium_celery/tasks/user.py
Due: celery-lint, celery-autoformat, celery-isort

Fixed handling of the defult `MINUTES` parameter value in the `faction-self-hosp` notification
  notifications/faction-self-hosp/code.lua
Due: none

Fixed Lua VM return types in `Notification`
  worker/lib/notification/notification.ex
Due: worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
