Repository Tornium/tornium: changes, and which lefthook commands are due for each by the changed paths.
All: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, application-sass, celery-lint, celery-autoformat, celery-isort, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo, userscript-format

application-lint:
  run: flake8 .

application-autoformat:
  run: black --check .

application-isort:
  run: isort .

application-bandit:
  run: bandit -r -x __pycache__,./venv,./tests -c pyproject.toml .

application-js-format:
  run: biome format .

application-sass:
  run: sass . && cd .. && biome format styles/ --write |&> /dev/null

celery-lint:
  run: flake8 .

celery-autoformat:
  run: black --check .

celery-isort:
  run: isort .

commons-lint:
  run: flake8 .

commons-autoformat:
  run: black --check .

commons-isort:
  run: isort .

worker-format:
  run: mix format

worker-credo:
  run: mix credo diff

userscript-format:
  run: biome format .

NixOS-based IaC infrastructure (#335)
  .editorconfig
  infra/README.md
  infra/common/default.nix
  infra/common/users/default.nix
  infra/configuration.nix
  infra/disk-config.nix
  infra/flake.lock
  infra/flake.nix
  infra/hive.nix
  infra/hosts/common.nix
  infra/hosts/proxy-db.nix
  infra/modules/fail2ban-ssh.nix
  infra/modules/nginx-prometheus-exporter.nix
  infra/modules/nginx-proxy.nix
  infra/modules/nginx-status.nix
  infra/modules/prometheus.nix
Due: none

[indev] Added basic faction news parsing
  .gitignore
  worker/.iex.exs
  worker/lib/application.ex
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/news/news.ex
  worker/lib/item/name_cache.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
Due: worker-format, worker-credo

[indev]
  worker/lib/faction/news/news.ex
  worker/lib/item/name_cache.ex
  worker/lib/workers/overdose_update.ex
Due: worker-format, worker-credo

Fixed server deletion
  celery/tornium_celery/tasks/guild.py
Due: celery-lint, celery-autoformat, celery-isort

[docs] Updated data use policy
  docs/src/data-use-storage.md
Due: none

Insert armory news to the database
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/news/news.ex
  worker/lib/faction/schema/armory_usage.ex
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/armory_news_update_scheduler.ex
Due: worker-format, worker-credo

Bug fixes
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/schema/armory_usage.ex
  worker/lib/item/name_cache.ex
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/priv/repo/migrations/20251104195426_add_armory_usage.exs
Due: worker-format, worker-credo

bug fix
  worker/lib/faction/oc_team/team.ex
Due: worker-format, worker-credo

Added armory news fetching to OD drug detection
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/user_settings/__init__.py
  application/static/settings/settings.js
  application/templates/settings/settings.html
  commons/tornium_commons/models/user_settings.py
  worker/lib/faction/overdose.ex
  worker/lib/user/key.ex
  worker/lib/user/schema/torn_key.ex
  worker/lib/user/schema/user_settings.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/priv/repo/migrations/20251104195426_add_armory_usage.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed docs link to API scopes
  application/templates/developers/client_dashboard.html
Due: none

Removed `/server link` and `/server unlink` slash commnds
  application/commands/bot/server.json
  application/commands/commands.json
  application/skynet/__init__.py
  application/skynet/commands/bot/__init__.py
  application/skynet/commands/bot/server.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Added drug usage setting for overdose events
  worker/lib/faction/overdose.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
Due: worker-format, worker-credo

Misc fixes
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Updated oban crontabs
  worker/config/config.exs
Due: worker-format, worker-credo

Misc fixes
  worker/lib/faction/overdose.ex
  worker/lib/item/name_cache.ex
  worker/lib/user/schema/user_settings.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/priv/repo/migrations/20251104195426_add_armory_usage.exs
Due: worker-format, worker-credo

Added overdose drug detection and armory news logging (#339)
  .gitignore
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/user_settings/__init__.py
  application/static/settings/settings.js
  application/templates/settings/settings.html
  commons/tornium_commons/models/user_settings.py
  worker/.iex.exs
  worker/config/config.exs
  worker/lib/application.ex
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/news/news.ex
  worker/lib/faction/overdose.ex
  worker/lib/faction/schema/armory_usage.ex
  worker/lib/item/name_cache.ex
  worker/lib/user/key.ex
  worker/lib/user/schema/torn_key.ex
  worker/lib/user/schema/user_settings.ex
  worker/lib/workers/armory_news_update.ex
  worker/lib/workers/armory_news_update_scheduler.ex
  worker/lib/workers/overdose_update.ex
  worker/lib/workers/overdose_update_scheduler.ex
  worker/mix.exs
  worker/mix.lock
  worker/priv/repo/migrations/20251104195426_add_armory_usage.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Removed banking ratelimit
  application/controllers/api/v1/faction/banking.py
  application/controllers/api/v1/utils.py
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Misc armory usage and overdose bug fixes
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/news/news.ex
  worker/lib/faction/overdose.ex
  worker/lib/faction/schema/armory_usage.ex
  worker/lib/faction/schema/overdose_event.ex
  worker/lib/workers/overdose_update.ex
  worker/priv/repo/migrations/20251109011645_fix_armory_usage_od_events.exs
Due: worker-format, worker-credo

[chore] Reformat
  worker/lib/faction/news/armory_action.ex
  worker/lib/user/schema/user_settings.ex
Due: worker-format, worker-credo

Fixed drug ID insertion in overdose events
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Added parsing for `:retrieve` armory action
  worker/lib/faction/news/armory_action.ex
  worker/lib/faction/schema/armory_usage.ex
Due: worker-format, worker-credo

Updated validation of `/withdraw` to block requests where multiple pending requests go over the user's balance
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Bug fix
  application/skynet/commands/faction/withdraw.py
Due: application-lint, application-autoformat, application-isort, application-bandit

Bug fix
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

Bug fix
  commons/tornium_commons/models/faction.py
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

bug fix
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

Fix subsequent withdrawals over faction balance (#340)
  application/skynet/commands/faction/withdraw.py
  commons/tornium_commons/models/faction.py
  commons/tornium_commons/models/withdrawal.py
Due: application-lint, application-autoformat, application-isort, application-bandit, commons-lint, commons-autoformat, commons-isort

Armory news parsing bug fix
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

Armory retrieval news parsing bug fix
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

[docs] Updated banking docs for 3b0ba206
  docs/src/reference/bot-banking.md
Due: none

Circular import bug fix
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

Fixed parsing for `:loan` armory action
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

Fixed overdose emebed and report generation
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

[chore] refactor
  worker/lib/faction/overdose.ex
Due: worker-format, worker-credo

Fixed f2406558
  worker/lib/faction/news/armory_action.ex
Due: worker-format, worker-credo

Fixed mismapped energy and nerve refill in armory usage insertion
  worker/lib/faction/schema/armory_usage.ex
Due: worker-format, worker-credo

Fixed `Withdrawal.has_sufficient_balance` when requesting "all"
  commons/tornium_commons/models/withdrawal.py
Due: commons-lint, commons-autoformat, commons-isort

Added initial notification
  application/app.py
  application/controllers/api/v1/__init__.py
  application/controllers/api/v1/bot/crimes.py
  application/static/bot/oc.js
  application/static/global/api.js
  application/templates/bot/oc.html
  commons/tornium_commons/formatters.py
  commons/tornium_commons/models/server_oc_config.py
  worker/config/config.exs
  worker/lib/faction/schema/organized_crime_slot.ex
  worker/lib/guild/schema/server_oc_config.ex
  worker/lib/postgrex_types.ex
  worker/lib/workers/oc_missing_member_notifications.ex
  worker/priv/repo/migrations/20251112024552_add_missing_member_oc.exs
Due: application-lint, application-autoformat, application-isort, application-bandit, application-js-format, commons-lint, commons-autoformat, commons-isort, worker-format, worker-credo

Fixed worker cron
  worker/config/config.exs
Due: worker-format, worker-credo

Path conditions:
  application-lint: any of: *.py and ^application/
  application-autoformat: any of: *.py and ^application/
  application-isort: any of: *.py and ^application/
  application-bandit: any of: *.py and ^application/
  application-js-format: any of: *.js and ^application/static/
  application-sass: any of: *.scss and ^application/static/styles/
  celery-lint: any of: *.py and ^celery/
  celery-autoformat: any of: *.py and ^celery/
  celery-isort: any of: *.py and ^celery/
  commons-lint: any of: *.py and ^commons/
  commons-autoformat: any of: *.py and ^commons/
  commons-isort: any of: *.py and ^commons/
  worker-format: any of: *.{ex,exs} and ^worker/
  worker-credo: any of: *.{ex,exs} and ^worker/
  userscript-format: any of: *.js and ^userscripts/
